<!-- Liquid Template - best-seller-collections.liquid -->
<!-- Below are variables for the primary product -->
{% assign main_product_singular = 'Snowmobile' %} {% assign main_product_plural
= 'Snowmobiles' %} {% assign main_product_website = 'Snowmobilecover.com' %}

<!-- Outdoor -->

<div class="outdoor-block">
  <div
    class="prod-sel-container outdoor-covers secondary-border"
    style="display: none"
  >
    <div class="prod-sel-header secondary">
      Our Best Seller <span class="veh-instance"></span> Cover For OUTDOOR Use
    </div>
    <span class="prod-sel-text-container">
      <p style="padding-left: 20px; margin-top: -10px" class="prod-sel-text">
        For outdoors we recommend our top selling cover! This is the most
        durable cover for outdoor use. It is designed to hold up in all types of
        extreme weather from rain, snow, high UV and sun exposure, and more!
      </p>
    </span>
    <span class="prod-sel-body-card">
      <h3 class="prod-sel-body-header">
        <a href=""> <span class="vehicle-title"></span></a>
      </h3>
      <hr class="prod-sel-body-hr" />
      <span class="prod-sel-body-stars">
        <div
          class="individual-product-reviews-link individual-product-reviews-link-ultimate"
          style="font-weight: 700"
        >
          <span class="star-insert"></span> |
          <span class="vehicle-title"></span>
        </div>
      </span>
      <span class="prod-sel-body-main">
        <span class="prod-sel-body-recommend-card">
          <span class="prod-sel-body-recommend">
            <span class="prod-sel-body-best primary"> #1 Best Seller </span>

            <span class="prod-sel-body-top tertiary text-primary">
              Top Quality
            </span>
          </span>
          <p class="prod-sel-body-image-desc-coll">top level protection</p>
          <span id="prod-sel-comment-ult-mobile-only">
            <p
              class="prod-sel-nb-main-comment"
              title="[single review -from writer]"
            >
              "I received my <span class="veh-instance"></span> cover in record
              time, it fit like a glove, and the cover is high quality. I will
              definitely order from this {{ main_product_website }} again!"
              <br />
              -Howard B.
            </p>
          </span>
          <div class="image-link">
            <a href="">
              <img
                class="prod-sel-nb-body-image"
                src="{{ product | image_url: width:300 }}"
                alt="AllGuard Weatherproof MAX {{
                  main_product_singular
                }} Cover"
                title="AllGuard Weatherproof MAX {{
                  main_product_singular
                }}  Cover"
              />
            </a>
          </div>

          <!--old spot-->
        </span>
        <span class="prod-sel-body-text-container">
          <!-- Shopify Metafield Collection Content will be loaded here via JS -->
        </span>

        <span class="prod-sel-media-container-ult">
          <!--<img src = "{{ ' interiorfleecelining_individualp<div class="description-banner primary">Great Value</div>roductpage.png ' | asset_url }}" alt="Interior Fleece Lining" title="Interior Fleece Lining" width="100px" height="60px">-->
          <!--<video width="100px" height="60px" 
                    class="prod-sel-nb-main-media-video"
                    controls="controls"> 
                    <source src = 
                        type="video/mp4">                  
                </video>-->
          <!--<span class="prod-sel-info-video-desc"><a href="#">Play Product Demo Video</a></span>-->
        </span>
        <hr class="prod-sel-info-hr" />
        <span class="prod-sel-price-container">
          <span class="prod-sel-mobile-container-bs-outdoor">
            <span class="prod-sel-mobile-price-container-bs-outdoor">
              <p class="prod-sel-price-head-new">
                <span class="prod-sel-nb-main-price">{{
                  product.price | money
                }}</span>
              </p>
              <span class="prod-sel-price-old-container"
                >Regular Price
                <span>
                  <span class="prod-sel-nb-main-reg-price">{{
                    product.variants[0].compare_at_price | money
                  }}</span>
                </span>
              </span>
            </span>
            <a name="add" class="add-to-cart-btn button-outer">
              <p class="button-inner">&#x1F6D2; ADD TO CART</p>
            </a>
          </span>
          <!-- <button class="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ ' _individualproductpage. ' | asset_url }}/cart-icon.svg" alt="cart"> Add To Cart</button> -->
          <span class="prod-sel-nb-main-guarantee-container-ult">
            <span class="prod-sel-nb-main-guarantee-container-item"
              ><img
                class="prod-sel-nb-main-guarantee-check"
                src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
                alt="check mark"
                title="check mark"
              />
              <span class="text-primary">Guaranteed</span>&nbsp; Fit</span
            >
            <span class="prod-sel-nb-main-guarantee-container-item"
              ><img
                class="prod-sel-nb-main-guarantee-check"
                src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
                alt="check mark"
                title="check mark"
              />
              30 Day Returns</span
            >
            <span class="prod-sel-nb-main-guarantee-container-item"
              ><img
                class="prod-sel-nb-main-guarantee-check"
                src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
                alt="check mark"
                title="check mark"
              />
              <span class="text-primary">Free</span>&nbsp; Shipping</span
            >
            <span class="prod-sel-nb-main-guarantee-container-item"
              ><img
                class="prod-sel-nb-main-guarantee-check"
                src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
                alt="check mark"
                title="check mark"
              />
              <span class="text-primary">In</span>&nbsp; Stock</span
            >
            <span class="prod-sel-nb-main-guarantee-container-item"
              ><img
                class="prod-sel-nb-main-guarantee-check"
                src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
                alt="check mark"
                title="check mark"
              />
              Ships Next Business Day
          </span>
          <img
            class="prod-sel-media-container-ult-hide"
            src="{{
              ' recommendedBadge_individualproductpage.svg ' | asset_url
            }}"
            width="70px"
            height="70px"
            alt="recommended badge"
            title="recommended badge"
          />
        </span>
      </span>
    </span>
    <span class="prod-sel-bonus-item-section" style="">
      <img class="prod-sel-bonus-item-section-image" src="" />
      <img
        class="prod-sel-bonus-item-section-image-mobile"
        src="{{ ' free-banner-lg.jpg ' | asset_url }}"
      />
    </span>
  </div>
</div>
<div class="indoor-block">
  <!-- Indoor -->
  <div
    class="prod-sel-container indoor-covers quarternary-border"
    style="display: none"
  >
    <div class="prod-sel-header quarternary">
      prod Our Best Selling <span class="veh-instance"></span> Cover For INDOOR
      Use
    </div>
    <span>
      <p style="padding-left: 20px; padding-bottom: 35px" class="prod-sel-text">
        For indoors we highly recommend our Indoor black satin shield cover.
        This is our most luxurious, ultra-plush, and soft material.
        Additionally, it is our most form-fitting cover, providing an unmatched
        level of customer satisfaction. Highly recommended for indoor storage.
      </p>
    </span>
    <span style="margin-left: 0px" class="prod-sel-body-card">
      <h3 class="prod-sel-body-header">
        <a href=""><span class="vehicle-title"></span></a>
      </h3>
      <hr class="prod-sel-body-hr" />
      <span class="prod-sel-body-stars">
        <div
          class="individual-product-reviews-link individual-product-reviews-link-ultimate"
          style="font-weight: 700"
        >
          <span class="star-insert"></span> |
          <span class="vehicle-title"></span>
        </div>
        | <span class="vehicle-title"></span
      ></span>
    </span>
    <span class="prod-sel-body-main">
      <span class="prod-sel-body-recommend-card">
        <span class="prod-sel-body-recommend">
          <span class="prod-sel-body-best-indoor quinary">
            #1 Best Seller
          </span>
          <span class="prod-sel-body-ultra"> Ultra Soft </span>
        </span>
        <p class="prod-sel-body-image-desc-coll">
          Super Soft Satin - Indoor Only
        </p>
        <div class="image-link">
          <a href="">
            <img
              class="prod-sel-nb-body-image"
              src="{{ product | image_url: width:300 }}"
              alt="AllGuard Indoor Black Satin {{
                main_product_singular
              }} Cover"
              title="AllGuard Indoor Black Satin {{
                main_product_singular
              }} Cover"
            />
          </a>
        </div>
      </span>
      <span class="prod-sel-body-text-container indoor-text">
        <!-- Shopify Metafield Collection Content will be loaded here via JS -->
      </span>

      <span class="prod-sel-media-container-indoor">
        <!-- <img src = "{{ ' ultrasoftmaterial_individualproductpage.png ' | asset_url }}" alt="Ultra Soft Material" title="Ultra Soft Material" width="100px" height="60px">
                <span class="prod-sel-video-container">   
                <video width="100px" height="60px" 
                    class="prod-sel-nb-main-media-video"
                       
                    controls="controls"> 
                    <source src =
                        type="video/mp4">                  
                </video>  
    
                </span>-->
        <!--<span class="prod-sel-info-video-desc"><a href="#">Play Product Demo Video</a></span>-->
      </span>
      <hr class="prod-sel-info-hr" />

      <span class="prod-sel-price-container">
        <span class="prod-sel-mobile-container-bs-outdoor">
          <span class="prod-sel-mobile-price-container-bs-outdoor">
            <p class="prod-sel-price-head-new">
              <span class="prod-sel-nb-main-price">{{
                product.price | money
              }}</span>
            </p>
            <span class="prod-sel-price-old-container"
              >Regular Price
              <span>
                <span class="prod-sel-nb-main-reg-price">{{
                  product.variants[0].compare_at_price | money
                }}</span>
              </span>
            </span>
          </span>
          <a name="add" class="add-to-cart-btn button-outer">
            <p class="button-inner">&#x1F6D2; ADD TO CART</p>
          </a>
        </span>
        <!-- <button class="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ ' _individualproductpage. ' | asset_url }}/cart-icon.svg" alt="cart"> Add To Cart</button> -->
        <span class="prod-sel-nb-main-guarantee-container-ult">
          <span class="prod-sel-nb-main-guarantee-container-item"
            ><img
              class="prod-sel-nb-main-guarantee-check"
              src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
              alt="check mark"
              title="check mark"
            />
            <span class="text-primary">Guaranteed</span>&nbsp; Fit</span
          >
          <span class="prod-sel-nb-main-guarantee-container-item"
            ><img
              class="prod-sel-nb-main-guarantee-check"
              src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
              alt="check mark"
              title="check mark"
            />
            30 Day Returns</span
          >
          <span class="prod-sel-nb-main-guarantee-container-item"
            ><img
              class="prod-sel-nb-main-guarantee-check"
              src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
              alt="check mark"
              title="check mark"
            />
            <span class="text-primary">Free</span>&nbsp; Shipping</span
          >
          <span class="prod-sel-nb-main-guarantee-container-item"
            ><img
              class="prod-sel-nb-main-guarantee-check"
              src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
              alt="check mark"
              title="check mark"
            />
            <span class="text-primary">In</span>&nbsp; Stock</span
          >
          <span class="prod-sel-nb-main-guarantee-check-last"
            ><img
              class="prod-sel-nb-main-guarantee-check"
              src="{{ ' greenCheck_individualproductpage.svg ' | asset_url }}"
              alt="check mark"
              title="check mark"
            />
            Ships <span class="text-primary">Next</span> Business Day</span
          >
        </span>
        <img
          class="prod-sel-media-container-ult-hide"
          src="{{ ' recommendedBadge_individualproductpage.svg ' | asset_url }}"
          width="70px"
          height="70px"
          alt="recommended badge"
          title="recommended badge"
        />
      </span>
      <!--
          <span class="prod-sel-price-container">
                <span class="prod-sel-mobile-container-bs-indoor">
                <span class="prod-sel-mobile-container-bs-indoor">
                <p class="prod-sel-price-head-new"><span></span>
                  <span class="prod-sel-nb-main-price">000.00</span>
                </p>
                <span class="prod-sel-price-old-container">Regular Price <span>
                  <span class="prod-sel-nb-main-reg-price">000.00</span>
                </span>
                  </span>
                </span>
                 <a name="add" class="add-to-cart-btn button-outer" >
                 <p class="button-inner">&#x1F6D2; ADD TO CART</p>
                </a>
                  <!--below codeis old reference while implementing new button above-->
      <!--<a class="add-to-cart-btn" href=""><img class="prod-sel-cart-btn" src = "{{ ' addo-to-cart-button_individualproductpage.png ' | asset_url }}" alt="add to cart" title="add to cart"></a>-->
      <!--  </span>
                <!-- <button style="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ ' _individualproductpage. ' | asset_url }}/cart-icon.svg" alt="cart"> Add To Cart</button> -->
      <!--   <span class="prod-sel-nb-main-guarantee-container">
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="text-primary">Guaranteed</span>&nbsp; Fit</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg  ' | asset_url }}" alt="check mark"> 30 Day Returns</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg  ' | asset_url }}" alt="check mark"> <span class="text-primary">Free</span>&nbsp; Shipping</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg  ' | asset_url }}" alt="check mark"> <span class="text-primary">In</span>&nbsp; Stock</span>
                    <span class="prod-sel-nb-main-guarantee-check-last"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg' | asset_url }}" alt="check mark"> Ships <span class="text-primary">Next</span> Business Day</span>
                </span>
            </span>-->
    </span>
    <span class="prod-sel-bonus-item-section" style="">
      <img class="prod-sel-bonus-item-section-image" src="free-banner-lg.jpg" />
      <img
        class="prod-sel-bonus-item-section-image-mobile"
        src="{{ 'free-banner-lg.jpg' | asset_url }}"
      />
    </span>
  </div>
</div>
<style>
  .indoor-text > p {
    font-size: 15px;
    line-height: 1.2em;
    margin-top: 15px;
    margin-bottom: 35px;
    width: 90%;
    margin-left: 12px;
  }
  .button-outer {
    margin-top: 10px;
  }

  .prod-sel-price-container {
    width: 1000px;
  }

  /* .button-inner {
    font-size:16px;
    font-family:calibri;
    background-color: orange;
    color:transparent; 
    text-shadow:0 0 0 white;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
  }*/

  @media screen and (max-width: 430px) {
    /*.button-inner {
    width: 200px;
  }*/
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: "ViewItemList",
      ecommerce: {
        view: {
          items: { products: productObject, vehicle: vehicleInfoString },
        },
      },
    });

    /*templateBlockForOtherCovers = document.querySelector(".other-covers");
    templateBlockForInsideCovers = document.querySelector(".indoor-covers")
    templateBlockForOutdoorCovers = document.querySelector(".platinum-covers")*/

    collectionBlock = document.querySelector(".collection-block");
    indoorBlock = document.querySelector(".indoor-block");
    outdoorBlock = document.querySelector(".outdoor-block");

    console.log(
      "CHECK PRODUCT OBJECT BEFORE PASSING THROUGH BEST SELLERS",
      productObject
    );
    for (let i = 0; i < productObject.length; i++) {
      var product = productObject[i];

      console.log("Test js product:", product);
      covers = product.tags;
      console.log("LANDING TEST2");
      for (let i = 0; i < covers.length; i++) {
        /*if (covers[i] == "other-covers") {
                templateElement = templateBlockForOtherCovers.cloneNode(true);
                element = collectionBlock.appendChild(templateElement);
              	console.log("Test Child Element", element);

            } 
          
            if(covers[i] == "indoor-covers"){
                element = templateBlockForInsideCovers.cloneNode(true);
                indoorBlock.appendChild(element)
            }
          
            if(covers[i] == "outdoor-covers"){
                element = templateBlockForOutdoorCovers.cloneNode(true);
                outdoorBlock.appendChild(element)
            }
          	else {*/
        templateElement = document.querySelector("." + covers[i]);

        //}

        if (templateElement != null) {
          element = templateElement.cloneNode(true);

          type = covers[i].match(/([^-]*)-covers/);
          blockElement = document.querySelector("." + type[1] + "-block");

          //console.log("Test Block Element:", blockElement);
          blockElement.appendChild(element);

          //console.log("Element Test:", element);

          elementCollectionContent = product.collection_content;
          elementRatingsContent = product.ratings_content;
          elementMetaBanner = product.metaBanner;
          elementMobileMetaBanner = product.metaMobileBanner;
          element.style.display = "block";
          abbreviatedTitle = product.title.split("Cover")[0] + " Cover";
          console.log("LANDING TEST7");
          stampedBadgeIcon = ` <span class="stamped-product-reviews-badge stamped-main-badge" 
                 data-id="${product.id}"
                 data-product-title="${product.title}"
                 data-product-type="${product.type}"
                 style="display: block;"></span>`;
          element.querySelector(".star-insert")
            ? (element.querySelector(".star-insert").outerHTML =
                stampedBadgeIcon)
            : console.log("YOU HAVE A MAJOR ERROR ZACHARY");
          //Allows for banner to be hidden if not filled in with data

          //JT LINE OF CODE HERE Urls dont link to product pages after changing liquid elements
          /*              
                element.querySelector(".prod-sel-body-header a, .prod-sel-nb-header a").href = product.url + "/" + urlVehicleInfoPath;
                */

          //tweaked query here to change products href after we removed the liquid elements.
          element.querySelector(
            ".prod-sel-body-header a,.image-link a, .prod-sel-nb-header a, .prod-sel-info-video-desc a"
          ).href = "/products/" + product.handle + "/" + urlVehicleInfoPath;
          element.querySelector(".prod-sel-info-video-desc a")
            ? (element.querySelector(".prod-sel-info-video-desc a").href =
                "/products/" + product.handle + "/" + urlVehicleInfoPath)
            : "";
          //FOR SEO
          element.querySelector(
            ".prod-sel-body-header a, .prod-sel-nb-header a"
          ).title = vehicleInfoString + "Covers";
          element.querySelector(
            ".prod-sel-body-header a, .prod-sel-nb-header a"
          ).alt = vehicleInfoString + "Covers";
          //End Tweak
          //link more details buttons

          element
            .querySelector(".add-to-cart-btn p")
            .setAttribute("shopify-product-id", product.variants[0].id);
          console.log("LANDING TEST8");
          if (!window.location.pathname.includes("/collections/accessories")) {
            element
              .querySelectorAll(".vehicle-title")
              .forEach((title, index) => {
                index === 0
                  ? (title.innerText =
                      product.title + " for " + vehicleInfoString)
                  : (title.innerText = product.title);
              });
          } else {
            element.querySelectorAll(".vehicle-title").forEach((title) => {
              title.innerText = product.title;
            });
            element.querySelector(".stamped-main-badge").style.display = "none";

            $(".stamped-main-widget").hide();
          }

          console.log("Test Product Price:", product.variants[0].price);
          element.querySelector(".prod-sel-nb-main-price").innerText =
            "$" + product.variants[0].price / 100;
          element.querySelector(".prod-sel-nb-main-reg-price").innerText =
            "$" + product.variants[0].compare_at_price / 100;
          element.querySelector(".prod-sel-nb-body-image").src =
            product.featured_image;
          element.querySelector(".image-link a").href =
            "/products/" + product.handle + "/" + urlVehicleInfoPath;
          //Required to create the content box
          element.querySelector(".prod-sel-body-text-container").innerHTML =
            elementCollectionContent
              ? elementCollectionContent
              : "Collection Content Metafield in the product configuration is not filled out. Please go to the respective product and fill out the collection content at the bottom of this product.";
          if (!window.location.pathname.includes("/collections/accessories")) {
            element
              .querySelectorAll(".vehicle-title")
              .forEach((title, index) => {
                index === 0
                  ? (title.innerText =
                      product.title + " for " + vehicleInfoString)
                  : (title.innerText = product.title);
              });
          } else {
            element.querySelectorAll(".vehicle-title").forEach((title) => {
              title.innerText = product.title;
            });
          }

          //Required to create the ratings
          if (element.querySelector(".star-ratings")) {
            element.querySelector(".star-ratings").innerHTML =
              elementRatingsContent;
          }

          moreDetailsElement = element.querySelector(
            ".prod-sel-more-details-link a"
          );

          //Required to create the ratings
          if (element.querySelector(".star-ratings")) {
            element.querySelector(".star-ratings").innerHTML =
              elementRatingsContent;
          }

          moreDetailsElement = element.querySelector(
            ".prod-sel-more-details-link a"
          );
          if (
            element.querySelector(".prod-sel-bonus-item-section-image") &&
            $(window).width() >= 480
          ) {
            elementMetaBanner
              ? (element.querySelector(
                  ".prod-sel-bonus-item-section-image"
                ).src = elementMetaBanner)
              : (element.querySelector(
                  ".prod-sel-bonus-item-section"
                ).style.display = "block");
          } else if (
            $(window).width() <= 480 &&
            element.querySelector(".prod-sel-bonus-item-section-image")
          ) {
            elementMobileMetaBanner
              ? (element.querySelector(
                  ".prod-sel-bonus-item-section-image"
                ).src = elementMobileMetaBanner)
              : (element.querySelector(
                  ".prod-sel-bonus-item-section"
                ).style.display = "block");
          } else {
            element.querySelector(".prod-sel-bonus-item-section")
              ? element.querySelector(".prod-sel-bonus-item-section").hide()
              : "";
          }
          if (moreDetailsElement !== null) {
            moreDetailsElement.href =
              "/products/" + product.handle + "/" + urlVehicleInfoPath;
          } else {
            console.log(
              "Test More Details No good",
              moreDetailsElement,
              element
            );
          }

          console.log(
            "Test Element Cart Button:",
            element.querySelector(".add-to-cart-btn")
          );

          element
            .querySelector(".add-to-cart-btn")
            .addEventListener("click", (evt) => addToCart(product, evt));
        }
      }
    }
  });

  // Add to cart function

  function addToCart(passedProduct, event) {
    event.preventDefault();
    var shopifyProductId = event.target.getAttribute("shopify-product-id");
    data = {
      items: [
        {
          quantity: 1,
          id: shopifyProductId,
          properties: {
            "vehicle-info": vehicleInfoString,
          },
        },
      ],
    };
    console.log("ADD TO CART TEST1", data);
    var xhr = new XMLHttpRequest();
    console.log("ADD TO CART TEST2", xhr);
    xhr.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log("ADD TO CART TEST3", data);
        window.location.href = "/cart";
      }
    };
    console.log("ADD TO CART TEST4", data);
    xhr.open("POST", window.Shopify.routes.root + "cart/add.js", true);
    console.log("ADD TO CART TEST5", data);
    xhr.setRequestHeader("Content-Type", "application/json");
    console.log("ADD TO CART TEST6", data);
    xhr.send(JSON.stringify(data));
    console.log("ADD TO CART TEST7", data);
  }
</script>

<!--End add to cart function-->

{% schema %} { "name": "best-seller-collections", "settings": [] } {% endschema
%} {% stylesheet %} {% endstylesheet %}
