{{ "individual-product-template-page-data.js" | asset_url | script_tag }}

<!-- Below are variables for the primary product -->
{% assign main_product_singular = 'Snowmobile' %} {% assign main_product_plural
= 'Snowmobiles' %} {% assign main_product_website = 'Snowmobilecover.com' %}
<script>
 switch (vehicleInfo.vehtype){
   case "car":
      {% assign chartData = collections["car-covers"].products %}
     console.log("TESTING COMP CHART LOOP", {{chartData | json}})
     break;
 }

  {% for product in chartData %}
   
  {% endfor %}
</script>

<!-- Start HTML for comparison chart section -->

<div class="chart-container">
  <!-- <div class="ipp-section-title">
        How Does the <span class="vehicle-title"></span> Compare to Our Other Covers
      </div> -->
  <p class="ourcovershead">OUR COVER OPTIONS</p>
  <p class="ourcoverstext" style="width: 100%; padding: 0 30px">
    We offer options to meet your needs and to provide the best value for your
    situation.
  </p>
  <table class="comparisoncharttable">
    <tbody>
<tr class="comparisonchartrow">
        {% for product in chartData %}
       <th class="comparisoncharthead" style="background-color: white">
         <div class="">#1 Best Seller</div>
       </th>
        
        {% endfor %}
</tr>
<tr class="comparisonchartrow">
  {% for product in chartData %}
    <script>
      console.log("THIS IS A TEST FOR IMAGES LOOP", {{product.images.first | file_img_url}})
    </script>
     <th class="comparisoncharthead bestborder">
          <img
            class="carcoverimg"
            src=""
            
            alt="AllGuard WeatherProof Max Solid Color  {{
              main_product_singular
            }} Cover"
            title="AllGuard WeatherProof Max Solid Color {{
              main_product_singular
            }} Cover"
          />
          <br />
          <div class="protection">TOP LEVEL PROTECTION</div>
        </th>
  {% endfor %}
</tr>
<tr class="comparisonchartrow">
        <th class="comparisoncharthead" style="background-color: white"></th>
        <th
          class="comparisoncharthead"
          style="
            background-color: #3366ff;
            border-radius: 8px 8px 0 0;
            border: 1px;
          "
        >
          <div class="best">#1 Best Seller</div>
        </th>
        <th class="comparisoncharthead" style="background-color: white"></th>
        <!--<th class="comparisoncharthead" style="background-color: white"></th>-->

        <th class="comparisoncharthead" style="background-color: white"></th>
      </tr>
      <!-- Cover Image -->
      <tr class="comparisonchartrow">
        <th class="comparisoncharthead"></th>
        <th class="comparisoncharthead bestborder">
          <img
            class="carcoverimg"
            src="{{ 'snowmobile_Weatherproof.png' | asset_url }}"
            alt="AllGuard WeatherProof Max Solid Color  {{
              main_product_singular
            }} Cover"
            title="AllGuard WeatherProof Max Solid Color {{
              main_product_singular
            }} Cover"
          />
          <br />
          <div class="protection">TOP LEVEL PROTECTION</div>
        </th>
        <th class="comparisoncharthead">
          <img
            class="carcoverimg carcoverimg2"
            src="{{ 'snowmobile-Standard.png' | asset_url }}"
            alt="AllGuard WeatherProof Max Two Tone Color {{
              main_product_singular
            }} Cover"
            title="AllGuard WeatherProof Max Two Tone Color  {{
              main_product_singular
            }} Cover"
          />

          <br />
          <div class="protection">RELIABLE INDOOR/OUTDOOR PROTECTION</div>
        </th>
        <!--<th class="comparisoncharthead">
        <img class="carcoverimg carcoverimg2" src="https://cdn.shopify.com/s/files/1/0594/7172/4696/t/1/assets/Mercedes_DeluxeNew.png?v=1637780077">
        <br />
        <div class="protection"> RELIABLE INDOOR/OUTDOOR PROTECTION </div>
      </th>-->
      </tr>
      <!-- Cover Type -->
      <tr class="comparisonchartrow">
        <th class="comparisoncharthead" style="background-color: white"></th>
        <th
          class="comparisoncharthead best bestborder"
          style="border-top: 1px solid #3366ff"
        >
          WEATHERPROOF SHIELD
        </th>
        <th
          class="comparisoncharthead fontAssist"
          style="border-top: 1px solid darkgrey"
        >
          STANDARD SHIELD
        </th>
        <!--<th class="comparisoncharthead">DELUXE SHIELD</th>-->
      </tr>
      <!-- Details Button CURRENTLY HIDDEN MAY LAUNCH LATER-->
      <tr class="comparisonchartrow" style="display: none">
        <th></th>
        <td class="comparisoncharthead bestborder">
          <a href="/p" class="button-new"
            >View Details</a
          >
        </td>
        <td class="comparisoncharthead">
          <a href="/" class="button-new"
            >View Details</a
          >
        </td>
        <td class="comparisoncharthead">
          <a href="/" class="button-new"
            >View Details</a
          >
        </td>
        <td class="comparisoncharthead indoorborder">
          <a href="/" class="button-new"
            >View Details</a
          >
        </td>
        <!--<td class="comparisoncharthead normalborder"><a href="/pages" class="button-new">View Details</a></td>-->
      </tr>
      <!-- Material -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Material</td>
        <td class="comparisonchartdata bestborder">
          Ultra Thick Marine Grade Fabric
        </td>
        <td class="comparisonchartdata">Marine Grade Fabric</td>

        <!--<td class="comparisonchartdata normalborder">Polypropylene</td>-->
      </tr>
      <!-- Use -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Use</td>
        <td class="comparisonchartdata bestborder">Outdoor/Indoor</td>
        <td class="comparisonchartdata">Outdoor/Indoor</td>

        <!--<td class="comparisonchartdata normalborder">Indoor</td>-->
      </tr>
      <!-- Warranty -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Warranty</td>
        <td class="comparisonchartdata bestborder" style="font-weight: bold">
          10-Year Warranty
        </td>
        <td class="comparisonchartdata" style="font-weight: bold">
          5-Year Warranty
        </td>

        <!--<td class="comparisonchartdata normalborder">3-Year Warranty</td>-->
      </tr>
      <!-- Water -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Water</td>
        <td class="comparisonchartdata bestborder clip-star-container-plus">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>
        <td class="comparisonchartdata clip-star-container">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>

        <!-- <td class="comparisonchartdata normalborder clip-star-container">
        <div class="clip-star"></div>
        <div class="clip-star"></div>
      </td>-->
      </tr>
      <!-- Snow -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Snow</td>
        <td class="comparisonchartdata bestborder clip-star-container-plus">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>
        <td class="comparisonchartdata clip-star-container">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>

        <!-- <td class="comparisonchartdata normalborder clip-star-container">
        <div class="clip-star"></div>
        <div class="clip-star"></div>
      </td>-->
      </tr>
      <!-- Cover Fit -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Cover Fit</td>
        <td class="comparisonchartdata bestborder clip-star-container-plus">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>
        <td class="comparisonchartdata clip-star-container">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>

        <!-- <td class="comparisonchartdata normalborder clip-star-container">
        <div class="clip-star"></div>
        <div class="clip-star"></div>
      </td>-->
      </tr>
      <!--<td class="comparisonchartdata normalborder clip-star-container">
        <div class="clip-star"></div>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
      </td>-->
      <!-- UV Protection -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">UV Protection</td>
        <td class="comparisonchartdata bestborder clip-star-container-plus">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>
        <td class="comparisonchartdata clip-star-container">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>

        <!-- <td class="comparisonchartdata normalborder clip-star-container">
        <div class="clip-star"></div>
        <div class="clip-star"></div>
      </td>-->
      </tr>
      <!-- Dust Protection -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Dust Protection</td>
        <td class="comparisonchartdata bestborder clip-star-container-plus">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>
        <td class="comparisonchartdata clip-star-container">
          <div class="divPad">
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
            <div class="clip-star"></div>
          </div>
        </td>

        <!-- <td class="comparisonchartdata normalborder clip-star-container">
        <div class="clip-star"></div>
        <div class="clip-star"></div>
      </td>-->
      </tr>
      <!-- Trailerable -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Trailerable</td>
        <td class="comparisonchartdata bestborder">
          <span class="check">✓</span>
        </td>
        <td class="comparisonchartdata"></td>

        <!--<td class="comparisonchartdata normalborder"></td>-->
      </tr>
      <!-- Lightweight -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Lightweight</td>
        <td class="comparisonchartdata bestborder">
          <span class="check">✓</span>
        </td>
        <td class="comparisonchartdata"><span class="check">✓</span></td>

        <!--<td class="comparisonchartdata normalborder"><span class="check">✓</span></td>-->
      </tr>
      <!-- Breathable -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Breathable</td>
        <td class="comparisonchartdata bestborder">
          <span class="check">✓</span>
        </td>
        <td class="comparisonchartdata"><span class="check">✓</span></td>

        <!-- <td class="comparisonchartdata normalborder"><span class="check">✓</span></td>-->
      </tr>
      <!-- Buckle & Strap System -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Buckle &amp; Strap System</td>
        <td class="comparisonchartdata bestborder">
          <span class="check">✓</span>
        </td>
        <td class="comparisonchartdata"><span class="check">✓</span></td>

        <!--<td class="comparisonchartdata normalborder"><span class="check">✓</span> ($10 Value)</td>-->
      </tr>
      <!-- Double Stitched Seams -->
      <tr class="comparisonchartrow">
        <td
          class="comparisonchartdata"
          style="white-space: normal; max-width: 200px"
        >
          Double Stitched Seams &amp; Elasticized Hems
        </td>
        <td class="comparisonchartdata bestborder">
          <span class="check">✓</span>
        </td>
        <td class="comparisonchartdata"><span class="check">✓</span></td>

        <!--<td class="comparisonchartdata normalborder"></td>-->
      </tr>
      <!-- Free Storage Bag -->
      <tr class="comparisonchartrow">
        <td class="comparisonchartdata">Free Storage Bag</td>
        <td class="comparisonchartdata bestborder">
          <span class="check">✓</span> ($20 Value)
        </td>
        <td class="comparisonchartdata">
          <span class="check">✓</span> ($20 Value)
        </td>

        <!--<td class="comparisonchartdata normalborder"><span class="check">✓</span> ($20 Value)</td>-->
      </tr>
      <!-- Free Shipping -->
      <tr class="comparisonchartrow">
        <td
          class="comparisonchartdata"
          style="border-bottom: 1px solid darkgrey"
        >
          Free Shipping
        </td>
        <td
          class="comparisonchartdata bestborder"
          style="border-bottom: 1px solid darkgrey"
        >
          <span class="check">✓</span> ($15 Value)
        </td>
        <td class="comparisonchartdata normalborderbottom">
          <span class="check">✓</span> ($15 Value)
        </td>

        <!--<td class="comparisonchartdata normalborder normalborderbottom">
        <span class="check">✓</span> ($15 Value)
      </td>-->
      </tr>
    </tbody>
  </table>
  <!-- End HTML for comparison chart section -->

  <!--Comparison chart CSS-->

  <style>
    /* Comparison Chart Section */
    .comparisonchartdata {
      /*white-space: nowrap;*/
      width: 200px;
      min-width: 200px;
    }

    .divPad {
      text-align: left;
      /* padding-left: 3em;*/
    }

    .chart-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      overflow-x: hidden;
      max-width: 1400px;
      margin-bottom: 30px;
      font-family: var(--font-body-family);
    }

    .ourcovershead {
      text-align: center;
      font-weight: bold;
      font-size: 35px;
      margin: 10px 0px;
      padding: 0px;
      font-family: var(--font-heading-family);
    }

    .ourcoverstext {
      text-align: center;
      width: 55%;
      line-height: 18px;
    }
    .comparisoncharthead {
      background-color: white;
      vertical-align: top;
    }

    .comparisoncharthead > img {
      width: 100%;
    }
    .comparisoncharttable {
      border-collapse: collapse;
      border-spacing: 0;
      /*             width: 98%; */
      border: none !important;
      display: block;
    }

    /* Style table headers and table data */
    .comparisoncharthead,
    .comparisonchartdata {
      text-align: center;
      padding: 12px;
    }
    .comparisoncharthead {
      font-size: 22px;
    }
    .comparisoncharthead:first-child,
    .comparisonchartdata:first-child {
      text-align: right;
    }

    .comparisonchartdata:first-child {
      font-weight: bold;
      font-style: italic;
    }

    /* Zebra-striped table rows */
    .comparisonchartrow:nth-child(odd):not(:nth-of-type(0)) {
      background-color: lightgray;
    }
    .clip-star {
      background: #ff9933;
      clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
      );
      display: inline-block !important;
      height: 1.5em;
      width: 1.5em;
    }

    .clip-star-container {
      text-align: center;
      margin: auto;

      /*             padding-left: 5%;
            padding-right: 5%; */
    }

    .clip-star-container-plus {
      text-align: center;
      margin: auto;

      /*             padding-left: 3%;
            padding-right: 2%; */
    }
    .clip-star-container:last-child {
      /*             padding-left: 4%;
            padding-right: 2%; */
    }

    .plus {
      display: inline-block !important;
      width: 24px;
      height: 24px;

      background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
        #ff9933;
      background-position: center;
      background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat: no-repeat;
    }

    span {
      content: "\2713";
    }

    .button-new {
      background-color: #336699; /* blue */
      color: white;
      padding: 10px 10px;
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      border-radius: 8px;
      margin: 0px;
      text-decoration: none;
    }
    .comparisonchartrow .button-new {
      display: block;
    }

    .button-new:hover {
      cursor: pointer;
    }

    .button-new:active {
      background-color: #4caf5050;
    }

    .carcoverimg {
      height: auto;
      width: 70%;
    }

    .best {
      font-size: 16px;
      background-color: #3366ff;
      color: white;
    }

    .indoor {
      font-size: 16px;
      background-color: #ff9933;
      color: white;
    }

    .fontAssist {
      font-size: 16px;
    }

    .protection {
      font-size: 14px;
    }

    .bestborder {
      border-left: 1px solid #3366ff !important;
      border-right: 1px solid #3366ff !important;
    }

    .indoorborder {
      border-left: 1px solid #ff9933 !important;
      border-right: 1px solid #ff9933 !important;
    }

    .normalborder {
      border-right: 1px solid darkgray !important;
    }

    .normalborderbottom {
      border-bottom: 1px solid darkgray !important;
    }

    .check {
      color: #4caf50;
      font-weight: 800;
      font-size: 22px;
    }

    <!--Media queries-- > @media screen and (max-width: 750px) {
      .chart-container {
        margin: 15px 0px;
        overflow-x: scroll;
      }

      .comparisoncharttable {
        position: relative;
        left: -15px;
        table-layout: fixed;
        overflow-x: scroll;
        width: auto;
      }

      th {
        overflow: hidden;
        width: 60px;
      }

      .ourcovershead {
        font-size: 16px;
      }

      .ourcoverstext {
        font-size: 12px;
        width: 75%;
      }

      .comparisonchartdata {
        font-size: 6px;
        padding: 1px;
        width: 30px;
      }

      .comparisoncharthead {
        font-size: 6px;
        padding: 1px;
        height: 25px;
        width: 75px;
      }

      .carcoverimg {
        height: 25px;
        width: 50px;
        padding-top: 4px;
      }

      .protection {
        font-size: 5px;
        line-height: 6px;
        letter-spacing: 0.2px;
      }

      .indoor {
        font-size: 7px;
        padding: 1px;
      }
      .best {
        font-size: 7px;
        padding: 1px;
      }

      .button-new {
        font-size: 6px;
        height: 25px;
        min-width: 70px;
        padding: 6px 0px;
      }

      .bestborder {
        height: 25px;
      }
      .indoorborder {
        height: 25px;
      }

      .clip-star-container {
        padding-left: 15px;
      }

      .clip-star-container-plus {
        padding-left: 10px;
      }

      .check {
        font-size: 10px;
      }
    }
    @media screen and (max-width: 1275px) {
      .chart-container {
        overflow-x: scroll;
      }
    }

    @media screen and (max-width: 430px) {
      .ourcovershead,
      .ourcoverstext,
      .chart-container {
        /*display: none;*/
        display: inherit;
      }
    }

    @media screen and (max-width: 300px) {
      .clip-star {
        height: 16px;
        width: 16px;
      }

      .plus {
        height: 16px;
        width: 16px;
        margin: 0;
      }
    }
  </style>

  <!-- Schema for retrieving comparison chart data -->
  {% schema %} { "name": "comparison-chart", "tag": "section", "settings": [{
  "type": "textarea", "id": "content", "label": "content stuff", "default":
  "Enter text here" }] } {% endschema %} {% stylesheet %} {% endstylesheet %} {%
  javascript %} {% endjavascript %}
</div>
