<!-- Below are variables for the primary product -->
{% assign main_product_singular = 'SNOWMOBILE' %}
{% assign main_product_plural = 'Snowmobiles' %}
{% assign main_product_website = 'SnowmobileCover.com' %}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>
<footer>
   <div class="footer-container">
      <div class="grid-five">
         <div class="grid-item-footer">
            <p class="bold">PRODUCTS</p>
           <ul>
                <li><a href="/pages/cover-subpage/car" alt="Car Covers" title="Car Covers">CAR COVERS</a></li>
                <li><a href="/pages/cover-subpage/suv" alt="SUV Covers" title="SUV Covers">SUV COVERS</a></li>
                <li><a href="/pages/cover-subpage/truck" alt="Truck Covers" title="Truck Covers">TRUCK COVERS</a></li>
                <li><a href="/pages/cover-subpage/van" alt="Van Covers" title="Van Covers">VAN COVERS</a></li>
                <li><a href="/collections/limo-covers" alt="Limo Covers" title="Limo Covers">LIMO COVERS</a></li>
                <li><a href="/pages/cover-subpage/jet_ski" alt="Jet Ski Covers" title="Jet Ski Covers">JET SKI COVERS</a></li>
                <li><a href="/pages/cover-subpage/atv" alt="ATV/UTV Covers" title="ATV/UTV Covers">ATV / UTV COVERS</a></li>
              	<li class="mobile-only"><a href="/pages/cover-subpage/motorcycle">MOTORCYCLE COVERS</a></li>
                <li class="mobile-only"><a href="/pages/cover-subpage/scooter">SCOOTER COVERS</a></li>
                <li class="mobile-only"><a href="/pages/cover-subpage/snowmobile">SNOWMOBILE COVERS</a></li>
                <li class="mobile-only"><a href="/collections/accessories">ACCESSORIES</a></li>
                <li class="mobile-only"><a href="/pages/cover-subpage/plastic">PLASTIC COVERS</a></li>
                <li class="mobile-only"><a href="/pages/cover-subpage/custom">CUSTOM COVERS</a></li>
            </ul>
            <div class="mobile-only">
               <p class="bold">ABOUT</p>
                      <ul>
                    <li><a href="/pages/faq">FAQS</a></li>
                    <li><a href="/pages/about-us">ABOUT US</a></li>
                    <li><a href="/pages/contact">CONTACT US</a></li>
                    <li><a href="/pages/blogs">CAR COVER ARTICLES</a></li>
                    <li><a href="/pages/reviews">REVIEWS</a></li>
                </ul>
            </div>
         </div>
        <div class="grid-item-footer">
             <div class="desktop-only">
            <p class="bold">PRODUCTS</p>
            <ul>
                <li><a href="https://carcoverscom-dev.myshopify.com/pages/cover-subpage/motorcycle" alt="Motorcycle Covers" title="Motorcycle Covers">MOTORCYCLE COVERS</a></li>
                <li><a href="https://carcoverscom-dev.myshopify.com/pages/cover-subpage/scooter" alt="Scooter Covers" title="Scooter Covers">SCOOTER COVERS</a></li>
                <li><a href="https://carcoverscom-dev.myshopify.com/pages/cover-subpage/snowmobile" alt="Snowmobile Covers" title="Snowmobile Covers">SNOWMOBILE COVERS</a></li>
                <li><a href="/collections/accessories" alt="Accessories" title="Accessories">ACCESSORIES</a></li>
                <li><a href="https://carcoverscom-dev.myshopify.com/collections/plastic-covers" alt="Plastic Covers" title="Plastic Covers">PLASTIC COVERS</a></li>
                <li><a href="https://carcoverscom-dev.myshopify.com/collections/custom-covers" alt="Custom Covers" title="Custom Covers">CUSTOM COVERS</a></li>
            </ul>
        </div>
        </div>
         <div class="grid-item-footer">
            <p class="bold">COVERS FOR ALL CUSTOMERS</p>
           <ul>
                <li><a href="/pages/cover-subpage/hailproof" alt="Hailproof Covers" title="Hailproof Covers">HAIL CAR COVERS</a></li>
                <li><a href="/pages/cover-subpage/waterproof" alt="Waterproof Covers" title="Waterproof Covers">WATERPROOF CAR COVERS</a></li>
                <li><a href="/pages/cover-subpage/indoor" alt="Indoor Covers" title="Indoor Covers">INDOOR CAR COVERS</a></li>
                <li><a href="/pages/cover-subpage/outdoor" alt="Outdoor Covers" title="Outdoor Covers">OUTDOOR CAR COVERS</a></li>
                <li><a href="/pages/cover-subpage/custom" alt="Custom Covers" title="Custom Covers">CUSTOM FIT CAR COVERS</a></li>
                <li><a href="/pages/cover-subpage/size" alt="What Size Cover?" title="What Size Cover?">WHAT SIZE CAR COVER FOR MY VEHICLE?</a></li>
            </ul>
            <div class="mobile-only">
               <p class="bold">CUSTOMER SERVICE</p>
                   <ul>
                  <li><a href="/pages/customer-service">CUSTOMER SERVICE</a></li>
                  <li><a href="/pages/return-policy">RETURN POLICY</a></li>
                  <li><a href="/pages/privacy-policy">PRIVACY POLICY</a></li>
                  <li><a href="/pages/affiliate-program">AFFILIATE PROGRAM</a></li>
                  <li><a href="/pages/resources">RESOURCES</a></li>
              </ul>
            </div>
            <!-- Hiding social media area
               <div class="socials mobile-only">
                    <p>find us on social media 
                      <a href="" target="_blank"><img src="{{ 'Facebook.png' | asset_img_url: '300x' }}"></a>
                      <a href="" target="_blank"><img src="{{ 'Instagram.png' | asset_img_url: '300x' }}"></a>
                      <a href="" target="_blank"><img src="{{ 'Twitter.png' | asset_img_url: '300x' }}"></a>
                      <a href="" target="_blank"><img src="{{ 'Youtube.png' | asset_img_url: '300x' }}"></a>
               </p>
                </div> -->
         </div>
         <div class="desktop-only grid-item-footer">
            <p class="bold">ABOUT</p>
            <ul>
               <li><a href="/pages/faq" title="FAQS">FAQS</a></li>
               <li><a href="/pages/about-us" title="About Us">ABOUT US</a></li>
               <li><a href="/pages/contact" title="Contact Us">CONTACT US</a></li>
               <li><a href="/pages/reviews" title="Reviews">REVIEWS</a></li>
            </ul>
         </div>
         <div class="grid-item-footer">
           
            <div class="desktop-only">
               <p class="bold">CUSTOMER SERVICE</p>
               <ul>
                  <li><a href="/pages/customer-service" title="customer service">CUSTOMER SERVICE</a></li>
                  <li><a href="/pages/return-policy" title="Return Policy">RETURN POLICY</a></li>
                  <li><a href="/pages/privacy-policy" title="Privacy Policy">PRIVACY POLICY</a></li>
                 <!-- <li><a href="/pages/affiliate-program" title="Affiliate Program">AFFILIATE PROGRAM</a></li> -->
                  <!-- <li><a href="/pages/resources" title="Resources">RESOURCES</a></li> -->
               </ul>
            </div>
         </div>
      </div>
     <div class="credit-copy mobileHidden">
      <div class="credit-cards">
         <img src="{{ 'creditcard.png' | asset_img_url: '500x' }}" alt="Credit card company images">
         <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
      </div>
      
      <div class="mobileHidden box">
         <div class="item">
            <p id="footer-copyright">© 2022 <span class="veh-instance-caps"></span>COVER.COM, A <span class="veh-instance-caps"></span> COVER STORE. ALL RIGHTS RESERVED.</p>
         </div>
         <div class="item">
            <img class="footer-logo" alt="{{main_product_singular}} Covers logo" src="{{ 'LogoWhite.png' | asset_img_url: '300x' }}">
         </div>
      </div>
     </div>
      <div class="desktopHidden">
         <div>
            <!--             <div class="secure-checkout"> -->
            <!--                 <p class="bold">Secure Checkout with $100k Identity Protection</p>
               <hr style="margin: 10px 0;background-color: #ccc;">
               <p>Shop with confidence. <a href="#">Details</a><img src="{{ 'trustedSite.png' | asset_img_url: '300x' }}" class="trustedSiteLogo"></p>
               <div style="height: 0;"><img src="{{ 'cards.png' | asset_img_url: '300x' }}" style="margin-left: 25px;margin-top:5px"></div> -->
            <div class="trustedsite-trustmark loaded fitTrustedSite" data-type="204" title="TrustedSite Certified" tabindex="0" style="background-image: url(&quot;https://cdn.ywxi.net/meter/carcovers.com/204.svg?ts=1649271961997&amp;l=en-US&quot;); ">&nbsp;</div>
            <img class="credit-card-logo" alt="Credit card company images" src="{{ 'creditcard.png' | asset_img_url: '500x' }}">
            <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
            <!--             </div> -->
         </div>
         <img class="footer-logo" alt="{{main_product_singular}} Covers logo" src="{{ 'LogoWhite.png' | asset_img_url: '300x' }}">
         <p id="footer-copyright">© 2022 <span class="veh-instance-caps"></span>COVER.COM, A <span class="veh-instance-caps"></span> COVER STORE. ALL RIGHTS RESERVED.</p>
      </div>
   </div>
</footer>
<!--Footer CSS-->
<style>
   footer{
      margin-bottom: 0;
   }
  .box {
            display: flex;
    align-items: end;
          }
  .item {
  	flex: 1 1 auto;
  }

   .footer-logo {
   width: 20rem;
   float: right;
   opacity: 0.6;
   }
   .grid-five {
   grid-gap: 40px;
   }
   .grid-item-footer {
   margin: 0 auto 0 auto;
   max-width: 230px;
   }
   .fitTrustedSite {
   width: 320px; 
   height: 70px; 
   display: inline-block; 
   background-size: contain; 
   background-position: center top; 
   background-repeat: no-repeat; 
   cursor: pointer;
   }

   .credit-copy{
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
   }

   .credit-cards{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
   }

   .mobileHidden .box .item{
      margin-top: 1rem;
   }
   @media (max-width: 430px) {
   .fitTrustedSite {
   width: 100%
   }
   .footer-logo {
   grid-template-columns: 1fr;
   float: inherit;
   margin: auto;
   display: block;
   }
   .mobileHidden { 
   display: none;
   }
   #footer-copyright{
   margin-top: 0;
   text-align: center;
   }
   }  
   @media (min-width: 431px) {
   .desktopHidden { 
   display: none;
   }
   }
  @media (max-width: 430px) {
.credit-card-logo {
    grid-template-columns: 1fr;
    float: inherit;
    margin: auto;
    display: block;
}
  }
   @media (max-width: 430px) {
    .footer-logo {
       margin-top: 15px;
   }
     
</style>
<!--Footer JavaScript-->
{% javascript %}
class LocalizationForm extends HTMLElement {
constructor() {
super();
this.elements = {
input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
button: this.querySelector('button'),
panel: this.querySelector('ul'),
};
this.elements.button.addEventListener('click', this.openSelector.bind(this));
this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
this.addEventListener('keyup', this.onContainerKeyUp.bind(this));
this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
}
hidePanel() {
this.elements.button.setAttribute('aria-expanded', 'false');
this.elements.panel.setAttribute('hidden', true);
}
onContainerKeyUp(event) {
if (event.code.toUpperCase() !== 'ESCAPE') return;
this.hidePanel();
this.elements.button.focus();
}
onItemClick(event) {
event.preventDefault();
const form = this.querySelector('form');
this.elements.input.value = event.currentTarget.dataset.value;
if (form) form.submit();
}
openSelector() {
this.elements.button.focus();
this.elements.panel.toggleAttribute('hidden');
this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
}
closeSelector(event) {
const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
if (event.relatedTarget === null || shouldClose) {
this.hidePanel();
}}}}
customElements.define('localization-form', LocalizationForm);
{% endjavascript %}