<div class="prod-sel-container">
    <div class="prod-sel-header">
        Our Best Seller [Car] Cover For INDOOR Use
    </div>
    <div class="prod-sel-text-container">
        <p class="prod-sel-text">For indoors we highly recommend our Indoor black satin shield cover. This is our most luxurious, ultra-plush, and soft material. Additionally, it is our most form-fitting cover, providing an unmatched level of customer satisfaction. Highly recommended for indoor storage.</p>
    </div>
    <span class="prod-sel-body-card">
        <h3 class="prod-sel-body-header">Indoor Black Satin Shield [Car] Cover</h3>
        <hr class="prod-sel-body-hr">
        <span class="prod-sel-body-stars">
            <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 Stars"></span> <span title='review length' class="prod-sel-body-review-len">[12345]</span> <span class="prod-sel-body-reviews">Verified Reviews | Platinum Shield Car Cover</span>
        </span>
        <span class="prod-sel-body-main">
            <span class="prod-sel-body-recommend-card">
                <span class="prod-sel-body-recommend">
                    <span class="prod-sel-body-best">
                        #1 Best Seller
                    </span>
                    <span class="prod-sel-body-ultra">
                        Ultra Soft
                    </span>
                </span>
                <img class="prod-sel-body-image" src = "{{ ' CarSatin_individualproductpage.png ' | asset_url }}" alt="Black Satin Car Cover">
                <h6 class="prod-sel-body-image-desc">Super Soft Satin - Indoor Only</h6>
            </span>
            <div class="prod-sel-body-text-container">
                <span>
                    <p class="prod-sel-body-text" title="[single review -from writer]">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        <br>
                        -Howard B.
                    </p>
                </span>
                <div class="prod-sel-body-text-indoor-container">
                    <strong>Indoor Only!</strong> Our softest, most luxurious material made for your garage kept vehicle. A satin-like stretchy material taht is soft both inside and out. This cover is sure to please as it comes with our highest customer satisfaction rating of all covers!
                    <br><span class="prod-sel-body-show">&nbsp;</span>
                </div>
                <span class="prod-sel-body-use-container">
                    <div class="prod-sel-body-use-indoor-sub-container">
                        <span class="prod-sel-body-use-indoor">
                           Use <span class="prod-sel-body-use-indoor-text">Indoor Only</span>
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-star-container">
                        <span class="prod-sel-body-use-indoor-star-first">
                            <span class="prod-sel-body-use-indoor-cover">Cover Fit</span> <img class="prod-sel-body-use-stars-indoor" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-star-container">
                        <span class="prod-sel-body-use">
                            Dust <img class="prod-sel-body-use-indoor-dust" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-star-container">
                        <span class="prod-sel-body-use">
                            Durability <img class="prod-sel-body-use-stars-indoor" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-star-container">
                        <span class="prod-sel-body-use">
                            Softness <img class="prod-sel-body-use-stars-indoor" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-warranty-container">
                        Warranty <span class="prod-sel-body-use-indoor-warranty">10 Years</span>
                    </div>
                    <span class="prod-sel-more-details-link" ><a href="#">More Details</a></span>
                </span>
            </div>
            <div class="prod-sel-media-container-ult">
              	<div style="height: 80px; width: 70px; display: inline;"></div>
                <img src = "{{ ' ultrasoftmaterial_individualproductpage.png ' | asset_url }}" alt="Ultra Soft Material" width="100px" height="60px">
                <div class="prod-sel-video-container">   
                <video width="100px" height="60px" 
                    class="prod-sel-nb-main-media-video"
                    controls="controls"> 
                    <source class="prod-sel-demo-video-src" src =
                        type="video/mp4">                  
                </video>  
    
                </div>  
                <div class="prod-sel-info-video-desc"><a href="#">Play Product Demo Video</a></div>
                <div class="prod-sel-more-details-link-mobile-only" ><a href="#">More Details >></a></div>
            </div>
            <hr class="prod-sel-info-hr">
            <div class="prod-sel-price-container">
                <div class="prod-sel-mobile-container-bs-indoor">
                <div class="prod-sel-mobile-price-container-bs-indoor">
                <h2 class="prod-sel-price-head"><span class="prod-sel-price">$</span>[184.95]</h2>
                <div class="prod-sel-price-old-container">Regular Price <span class="prod-sel-price-old">$[374.95]</span></div>
                </div>
                 <img class="prod-sel-cart-btn" src = {{ ' addo-to-cart-button_individualproductpage.png ' | asset_url }} alt="add to cart">
              </div>
                <!-- <button style="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ ' _individualproductpage. ' | asset_url }}/cart-icon.svg" alt="cart"> Add To Cart</button> -->
                <div class="prod-sel-nb-main-guarantee-container-ult">
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Guaranteed</span>&nbsp; Fit</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg  ' | asset_url }}" alt="check mark"> 30 Day Returns</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg  ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Free</span>&nbsp; Shipping</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg  ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">In</span>&nbsp; Stock</span>
                    <span class="prod-sel-nb-main-guarantee-check-last"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg' | asset_url }}" alt="check mark"> Ships <span class="prod-sel-nb-main-guarantee-stand">Next</span> Business Day</span>
                </div>
            </div>
        </span>
        <span class="prod-sel-bonus-item-section">
            <img class="prod-sel-bonus-item-section-image" src = "{{ ' FreeCarCoverCareKit_individualproductpage.png ' | asset_url }}" >
            <img class="prod-sel-bonus-item-section-image-mobile" src = "{{ ' FreeCarCoverCareKit_individualproductpage.png ' | asset_url }}" >
        </span>
</div>
  
<script>
  var vehicle_type = localStorage.getItem("vehicle_type")

document.getElementsByClassName("prod-sel-header")[1].innerHTML = "<span> Our Best Selling " + vehicle_type + " Cover For INDOOR Use</span>"
document.getElementsByClassName("prod-sel-body-header")[1].innerHTML = "<span>Indoor Black Satin Shield " + vehicle_type + " Cover</span>"
document.getElementsByClassName("prod-sel-body-reviews")[1].textContent = "Verified Review | Black Satin " + vehicle_type + " Cover"
</script>
  
<script>
  
  var car_type = vehicleInfo.veh_type;
  var satin_img
  var satin_vid_one
  var satin_price_new
  var satin_price_old

 if(car_type == 'Car'){
	
    satin_img = type_car.satin;
   	satin_vid_one = type_car.video.satin.one;
    satin_price_new = type_car.sprice_new;
    satin_price_old = type_car.sprice_old
	
} else if(car_type == 'Truck'){

    satin_img = type_truck.satin;
    satin_vid_one = type_truck.video.satin.one;
    satin_price_new = type_truck.sprice_new;
    satin_price_old = type_truck.sprice_old
  
} else if(car_type == 'SUV'){
  
 //   satin_img = type_suv.satin;
 //   satin_vid_one = type_suv.video.satin.one;
 //   satin_price_new  = type_suv.sprice_new;
 //   satin_price_old = type_suv.sprice_old
  
}  else if(car_type == 'Van'){
  
    satin_img = type_van.ultimate;
    satin_vid_one = type_van.video.ultimate.one;
    satin_price_new = type_van.uprice_new;
    satin_price_old = type_van.uprice_old
  
}  else if(car_type == 'Motorcycle'){
  
 	satin_img = type_motorcycle.satin;
  	satin_vid_one = type_motorcycle.video.satin.one;
    satin_price_new = type_motorcycle.sprice_new;
    satin_price_old = type_motorcycle.sprice_old
  
}  else if(car_type == 'Scooter'){
  
    satin_img = type_scooter.satin;
    satin_vid_one = type_scooter.video.satin.one;
    satin_price_new = type_scooter.sprice_new;
    satin_price_old = type_scooter.sprice_old
  
}  else if(car_type == 'ATV'){
  
    satin_img = type_atv.standard;
    satin_price_new = type_atv.standard_price_new;
    satin_price_old = type_atv.standard_price_old;
  
}  else if(car_type == 'UTV'){
  
    satin_img = type_utv.satin;
    satin_vid_one = type_utv.video.satin.one;
    satin_price_new = type_utv.sprice_new;
    satin_price_old = type_utv.sprice_old
  
}  else if(car_type == 'Jet Ski'){
  
	satin_img = type_jet_ski.satin;
  	satin_vid_one = type_jet_ski.video.satin.one;
    satin_price_new = type_jet_ski.sprice_new;
    satin_price_old = type_jet_ski.sprice_old
  
}  else if(car_type == 'Snowmobile'){
  
 	satin_img = type_snowmobile.satin;
    satin_vid_one = type_snowmobile.video.satin.one
    satin_price_new = type_snowmobile.sprice_new;
    satin_price_old = type_snowmobile.sprice_old
  
}  else if(car_type == 'Golf Cart'){

    satin_img = type_golf_cart.satin;
    satin_vid_one = type_golf_cart.video.satin.one;
    satin_price_new = type_golf_cart.sprice_new;
    satin_price_old = type_golf_cart.sprice_old
  
}  else if(car_type == 'RV'){
  
    satin_img = type_rv.satin;
    satin_vid_one = type_rv.video.satin.one;
    satin_price_new = type_rv.sprice_new;
    satin_price_old = type_rv.sprice_old
  
}  else if(car_type == 'Limo'){
  
    satin_img = type_limo.satin;
    satin_vid_one = type_limo.video.satin.one;
    satin_price_new = type_limo.sprice_new;
    satin_price_old = type_limo.sprice_old
  
}  else if(car_type == 'Hummer'){
  
	satin_img = type_hummer.indoor;
  	satin_vid_one = type_hummer.video.satin.one;
    satin_price_new = type_hummer.sprice_new;
    satin_price_old = type_hummer.sprice_old
}

 document.getElementsByClassName("prod-sel-body-image")[1].src = satin_img
 
 if(satin_vid_one == undefined){
   
   document.getElementsByClassName("prod-sel-demo-video-src")[1].style.display = 'none';
   
 }else{
   
 	document.getElementsByClassName("prod-sel-demo-video-src")[1].src = satin_vid_one;
 }
 document.getElementsByClassName("prod-sel-price-head")[1].innerHTML = "<span>$" + satin_price_new + "</span>"
 document.getElementsByClassName("prod-sel-price-old")[1].innerHTML = "<span>$" + satin_price_old + "</span>"
 
  </script>

{% schema %}
  {
    "name": "indoor-satin-car",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
