{{ 'individual-product-template-page-data.js' | asset_url | script_tag }}
<div class="prod-sel-container">
    <div class="prod-sel-header">
        Our Best Seller [Car] Cover For OUTDOOR Use
    </div>
    <div class="prod-sel-text-container">
        <p class="prod-sel-text">For outdoors we recommend our top selling cover! This is the most durable cover for outdoor use. It is designed to hold up in all types of extreme weather from rain, snow, high UV and sun exposure, and more!</p>
        <p class="prod-sel-text">Additionally, if you plan to use cover outdoors, we highly recommend adding the optional Gust Strap Wind Protector when you click add to cart. The wind straps will keep the cover on during windy or stormy times.</p>
    </div>
    <span class="prod-sel-body-card">
        <h3 class="prod-sel-body-header">Platinum Shield [Car] Cover</h3>
        <hr class="prod-sel-body-hr">
        <span class="prod-sel-body-stars">
            <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 Stars"></span> <span title='review length' class="prod-sel-body-review-len">[12345]</span> <span class="prod-sel-body-reviews">Verified Reviews | Platinum Shield Car Cover</span>
        </span>
        <span class="prod-sel-body-main">
            <span class="prod-sel-body-recommend-card">
                <span class="prod-sel-body-recommend">
                    <span class="prod-sel-body-best">
                        #1 Best Seller
                    </span>
                    
                    <span class="prod-sel-body-top">
                        Top Quality
                    </span>
                </span>
                <span id="prod-sel-comment-ult-mobile-only">
                    <p class="prod-sel-nb-main-comment" title="[single review -from writer]">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        <br>
                        -Howard B.
                    </p>
                </span>
                <img class="prod-sel-body-image" src = "{{ ' platinumCarCover_individualproductpage.png ' | asset_url }}" alt="Platinum Car Cover">
                <h6 class="prod-sel-body-image-desc">top level platinum protection</h6>
            </span>
            <div class="prod-sel-body-text-container">
                <span>
                    <p class="prod-sel-body-text" title="[single review -from writer]">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        <br>
                        -Howard B.
                    </p>
                </span>
                <p class="prod-sel-body-text">
                  <span class="body-text-vehicle-type"><strong>NEW Platinum Quality Material!</strong> Platinum Shield Car</span> Covers provide top level protection against all the elements including rain, snow, wind, UV / Sun rays, and more. Extremely durable exterior with <span class="text-decoration: underline;">soft fleece lining on interior.</span>
                    <br><span class="prod-sel-body-show">* Outperforms 5L Covers *</span>
                </p>
                <span class="prod-sel-body-use-container">
                    <div class="prod-sel-body-use-sub-container">
                        <span class="prod-sel-body-use">
                            Water <img class="prod-sel-body-use-stars padding-left: 22px;" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                      </span>
                    </div>
                    <div class="prod-sel-body-use">
                        <span class="prod-sel-body-use">
                            Snow <img class="prod-sel-body-use-stars" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}"  alt="5 stars">                       <span class="prod-sel-plus"></span>
                      </span>
                    </div>
                    <div class="prod-sel-body-use">
                        <span class="prod-sel-body-use">
                            UV Rays <img class="prod-sel-body-use-stars prod-sel-body-use-stars-ext" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">                        <span class="prod-sel-plus"></span>
                      </span> 
                    </div>
                    <div class="prod-sel-body-use">
                        <span class="prod-sel-body-use">
                            Cover Fit <img class="prod-sel-body-use-stars" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">                          <span class="prod-sel-plus"></span>
                        </span>
                    </div>
                    <div class="prod-sel-body-use">
                        <span class="prod-sel-body-use">
                            Durability <img class="prod-sel-body-use-stars" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">                       <span class="prod-sel-plus"></span>
                      </span>
                    </div>
               
                    <div class="prod-sel-body-use-warranty">
                        Lifetime Warranty
                    </div>
                    <span class="prod-sel-more-details-link" ><a href="#">More Details</a></span>
                </span>
            </div>
            <span class="prod-sel-media-container-ult">
                <img class ="prod-sel-media-container-ult-hide" src = "{{' recommendedBadge_individualproductpage.svg ' | asset_url }}" width="70px" height="70px">
                <img src = "{{ ' interiorfleecelining_individualproductpage.png ' | asset_url }}" alt="Interior Fleece Lining" width="100px" height="60px">   
                     <video width="100px" height="60px" 
                    class="prod-sel-nb-main-media-video"
                    controls="controls"> 
                    <source class="prod-sel-demo-video-src"src = 
                        type="video/mp4">                  
                </video>  
                <span class="prod-sel-info-video-desc"><a href="#">Play Product Demo Video</a></span>
                <span class="prod-sel-more-details-link-mobile-only" ><a href="#">More Details >></a></span>
            </span>
            <hr class="prod-sel-info-hr">
            <div class="prod-sel-price-container">
                <div class="prod-sel-mobile-container-bs-outdoor">
                <div class="prod-sel-mobile-price-container-bs-outdoor">
                <h2 class="prod-sel-price-head"><span class="prod-sel-price">$</span>[194.95]</h2>
                <div class="prod-sel-price-old-container">Regular Price <span class="prod-sel-price-old">$[379.89]</span></div>
                </div>
                <img class="prod-sel-cart-btn" src = "{{ ' addo-to-cart-button_individualproductpage.png ' | asset_url }}" alt="add to cart">
                </div>
                <!-- <button class="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ ' _individualproductpage. ' | asset_url }}/cart-icon.svg" alt="cart"> Add To Cart</button> -->
                <span class="prod-sel-nb-main-guarantee-container-ult">
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Guaranteed</span>&nbsp; Fit</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> 30 Day Returns</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Free</span>&nbsp; Shipping</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">In</span>&nbsp; Stock</span>
                    <span class="prod-sel-nb-main-guarantee-check-last"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> Ships <span class="prod-sel-nb-main-guarantee-stand">Next</span> Business Day</span>
                </span>
            </div>
        </span>
    </span>
    <span class="prod-sel-bonus-item-section">
        <img class="prod-sel-bonus-item-section-image" src = "{{ ' FreeCarCoverCareKit_Platinum_individualproductpage.png ' | asset_url }}" >
        <img class="prod-sel-bonus-item-section-image-mobile" src = "{{ ' FreeCarCoverCareKit_mobile_platinum_individualproductpage.png ' | asset_url }}" >
    </span>
</div>

<script>
  var vehicle_type = localStorage.getItem("vehicle_type")
  
 

document.getElementsByClassName("prod-sel-header")[0].innerHTML = "<span> Our Best Selling " + vehicle_type + " Cover For OUTDOOR Use</span>"
document.getElementsByClassName("prod-sel-body-header")[0].innerHTML = "<span>Platinum Shield " + vehicle_type + " Cover</span>"
document.getElementsByClassName("body-text-vehicle-type")[0].textContent = vehicle_type
document.getElementsByClassName("prod-sel-body-reviews")[0].textContent = "Verified Review | Platinum Shield " + vehicle_type + " Cover"

 if(vehicle_type == 'ATV' || vehicle_type == 'UTV' || vehicle_type == 'Jet Ski' || vehicle_type == 'Snowmobile' || vehicle_type == 'Golf Cart' ){
   
   document.getElementsByClassName("body-text-vehicle-type")[0].innerHTML = "<span><strong>NEW  Weather Proof Material!</strong> Weather Proof Shield " + vehicle_type + "</span>"
   document.getElementsByClassName("prod-sel-body-header")[0].innerHTML = "<span> Weather Proof Shield " + vehicle_type + " Cover</span>"
   document.getElementsByClassName("prod-sel-body-reviews")[0].textContent = "Verified Review | Weather Proof Shield " + vehicle_type + " Cover"      
 }                  

</script>
<script>
  
  var car_type = localStorage.getItem("vehicle_type");
  var plat_img
  var plat_vid_one
  var plat_price_new
  var plat_price_old

 if(car_type == 'Car'){
	
  plat_img = type_car.platinum;
  plat_vid_one = type_car.video.platinum.one;
  plat_price_new = type_car.pprice_new;
  plat_price_old = type_car.pprice_old

} else if(car_type == 'Truck'){

  plat_img = type_truck.platinum;
  plat_vid_one = type_truck.video.platinum.one;
  plat_price_new = type_truck.pprice_new;
  plat_price_old = type_truck.pprice_old;
  
} else if(car_type == 'SUV'){
  
  //plat_img = type_suv.platinum;
  //plat_vid_one = type_suv.video.platinum.one;
  //plat_price_new = type_suv.pprice_new;
  //plat_price_old = type_suv.pprice_old;
  
}  else if(car_type == 'Van'){
  
  plat_img = type_van.platinum;
  plat_vid_one = type_van.video.platinum.one;
  plat_price_new = type_van.pprice_new;
  plat_price_old = type_van.pprice_old;
  
}  else if(car_type == 'Motorcycle'){
  
 	plat_img = type_motorcycle.platinum;
  	plat_vid_one = type_motorcycle.video.platinum.one;
	plat_price_new = type_motorcycle.pprice_new;
    plat_price_old = type_motorcycle.pprice_old;
  
}  else if(car_type == 'Scooter'){
  
  plat_img = type_scooter.platinum;
  plat_vid_one = type_scooter.video.platinum.one;
  plat_price_new = type_scooter.pprice_new;
  plat_price_old = type_scooter.pprice_old;
  
}  else if(car_type == 'ATV'){
  
  plat_img = type_atv.weatherproof;
  plat_vid_one = type_atv.video.weatherproof;
  plat_price_new = type_atv.wprice_new;
  plat_price_old = type_atv.wprice_old;
  
}  else if(car_type == 'UTV'){
  
  plat_img = type_utv.weatherproof;
  plat_vid_one = type_utv.video.platinum.one;
  plat_price_new = type_utv.wprice_new;
  plat_price_old = type_utv.wprice_old;
  
}  else if(car_type == 'Jet Ski'){
  
  plat_img = type_jet_ski.weatherproof;
  plat_vid_one = type_jet_ski.video.weatherproof_max;
  plat_price_new = type_jet_ski.wprice_new;
  plat_price_old = type_jet_ski.wprice_old;

}  else if(car_type == 'Snowmobile'){
  
  plat_img = type_snowmobile.weatherproof;
  
  plat_price_new = snowmobile.wprice_new;
  plat_price_old = snowmobile.wprice_old;
  
}  else if(car_type == 'Golf Cart'){
  
  plat_img = type_golf_cart.platinum;
  
  plat_price_new = type_golf_cart.pprice_new;
  plat_price_old = type_golf_cart.pprice_old;
  
}  else if(car_type == 'RV'){
  
  plat_img = type_rv.platinum;
    
  	plat_price_new = type_rv.pprice_new;
    plat_price_old = type_rv.pprice_old;
  
}  else if(car_type == 'Limo'){
  
  plat_img = type_limo.platinum;
  plat_price_new = type_limo.pprice_new;
  plat_price_old = type_limo.pprice_old;
  
}  else if(car_type == 'Hummer'){
  
  plat_img = type_hummer.platinum;
  plat_price_new = type_hummer.pprice_new;
  plat_price_old = type_hummer.pprice_old;
}

 document.getElementsByClassName("prod-sel-body-image")[0].src = plat_img
  if(plat_vid_one == undefined){
   
   document.getElementsByClassName("prod-sel-demo-video-src")[0].style.display = 'none';
   
 }else{
   
 	document.getElementsByClassName("prod-sel-demo-video-src")[0].src = plat_vid_one;
   
 }
  
  

 document.getElementsByClassName("prod-sel-price-head")[0].innerHTML = "<span>$" + plat_price_new + "</span>"
 document.getElementsByClassName("prod-sel-price-old")[0].innerHTML = "<span>$" + plat_price_old + "</span>"
  </script>
{% schema %}
  {
    "name": "platinum-outdoor-car",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
