<!-- Below are variables for the primary product -->
{% assign main_product_singular = "Vehicle" %} {% assign main_product_plural
= 'Vehicles' %} {% assign main_product_website = 'CarCoversUK.com' %}

<!-- Start HTML for why buy section -->
<div class="mainContainer">
  <div class="why-buy-grid container1 why-buy-mobile-arrangement">
    <div class="image-container">
      <img
        class="whyBuy image1"
        src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/corvetteCover_1.jpg?v=1670353193"
        alt="corvette car cover"
        title="corvette car cover"
      />
    </div>
    <div class="textContainer1 textBackground1 textContainer secondary">
      <div class="infoBox1">
        <h3
          class="buy-cover-today-h3"
          class="infoBox-header"
          style="margin-top: 10px"
        >
          BUY A <span class="veh-instance-caps"></span> COVER TODAY <br />
          <span style="font-weight: 950">OUTDOOR</span> AND
          <span style="font-weight: 950">INDOOR OPTIONS</span>
        </h3>
        <p class="infoBox-text1">
          You won’t always be able to find space indoors for your
          {{main_product_singular}}(s), but you will always want to
          protect them. {{main_product_singular}} covers are the smart
          solution. Whether used as an emergency backup or as an everyday item,
          the benefits of utilizing a quality
          {{main_product_singular}} cover are hard to exaggerate. The
          lifespan of your {{main_product_singular}} can be enhanced
          both indoors and outdoors by using a
          {{main_product_singular}} cover, and using one can protect
          your {{main_product_singular}} from damage ranging from dust
          particle scratches to blunt force impact. When made with weatherproof
          materials, these covers can keep a
          {{main_product_singular}} preserved incredibly well—anywhere.
          A customized {{main_product_singular}} cover is a crucial
          piece of protection when you want to keep your
          {{main_product_singular}} safe.
        </p>
      </div>
    </div>
  </div>
  <div class="why-buy-grid container2" style="text-align: start">
    <div class="textContainer1 textBackground2 textContainer primary">
      <div class="infoBox top-margin">
        <h3 class="buy-cover-today-h3" class="infoBox-header-new">
          <span style="font-weight: 950; color:white"
            > CAR PROTECTION</span
          >
        </h3>
        <p class="infoBox-text">
          <span
            >At {{ main_product_website }}, protecting your
            {{main_product_singular}} is our number one priority.
            That’s why we stock merchandise designed to withstand harsh outdoor
            conditions. Our durable and advanced covers are made from a unique
            layering of protective materials to ensure your
            {{main_product_singular}} is safe from most outdoor
            elements, including things that may cause minor physical damage.
            Garages and overhangs are one way to ensure that your
            {{main_product_singular}} remains safe and protected;
            however, you may live in an area where you must park on the street
            or in a driveway. In these cases,
            {{main_product_singular}} covers are the most effective way
            to keep your {{main_product_singular}} safe from the
            elements, no matter where you end up having to store it.</span
          >
        </p>
      </div>
    </div>
    <div class="image-container">
      <img
        class="whyBuy image1"
        src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/truckCover_1.jpg?v=1670353288"
        alt="Truck Cover"
        title="Truck Cover"
      />
    </div>
  </div>
  <div class="comforts comfortsgrid">
    <div class="comfortsicon iconHelp1">
      <img
        class="comfortsimg"
        src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/Comforts-FIT_c2529052-b9b2-4b6e-a349-36017ca63a34.png?v=1670354319"
        alt="guaranteed cover fit"
        title="guaranteed cover fit"
      />
      <p class="texticon">
        We guarantee to send the correct item for your
        {{main_product_singular}}. If we make a mistake, we gladly pay
        return shipping costs.
      </p>
    </div>
    <div class="comfortsicon iconHelp2">
      <img
        class="comfortsimg"
        src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/Comforts-VERIFIED.png?v=1670354147"
        alt="verified badge"
        title="verified badge"
      />
      <p class="texticon">
        We are one of the largest and most reputable
        {{main_product_singular}} Covers sites on the internet, with
        customer feedback to prove it.
        <a
          href="/pages/reviews"
          title="Reviews"
          style="text-decoration: none; color: white"
          >Check them out here.</a
        >
      </p>
    </div>
    <div class="comfortsicon iconHelp3">
      <img
        class="comfortsimg"
        src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/Comforts-HASSLE.png?v=1670354199"
        alt="hassle free guarantee"
        title="hassle free guarantee"
      />
      <p class="texticon textHelp3">
        With our HASSLE-FREE GUARANTEE, we offer an unrivaled customer
        experience.
      </p>
    </div>
    <div class="comfortsicon iconHelp4">
      <img
        class="comfortsimg"
        src="{{ 'Comforts-SHIPPING.png' | asset_url }}"
        alt="free shipping"
        title="free shipping"
      />
      <p class="texticon">
        Free shipping to all of the US and Canada. In most cases, Free shipping
        takes between 2 and 7 business days.
      </p>
    </div>
    <div class="comfortsicon iconHelp5">
      <img
        class="comfortsimg"
        src="{{ 'Comforts-SERVICE.png' | asset_url }}"
        alt="customer support"
        title="customer support"
      />
      <p class="texticon">
        Call us, use live chat, or email us. We are available for all your cover
        needs. Phone support available 7am - 4:30pm PST M - F.
      </p>
    </div>
    <div class="comfortsicon iconHelp6">
      <img
        class="comfortsimg"
        src="{{ 'Comforts-SECURE.png' | asset_url }}"
        alt="secure shopping"
        title="secure shopping"
      />
      <p class="texticon">
        Your information is safe! We utilize a secure 128-bit encrypted SSL
        connection to ensure your information remains safe.
      </p>
    </div>
  </div>
  <!-- copy of older code...
  <div class="comforts comfortsgrid">
		<div class="comfortsicon topicon">
        	<img class="comfortsimg1" src="{{ 'Fit.png' | asset_url }}" alt="guaranteed cover fit" title="guaranteed cover fit" />
			<p class="texticon textIconFirst">We guarantee to send the correct item for your {{main_product_singular}}. If we make a mistake, we gladly pay return shipping costs.</p>
		</div>
		<div class="comfortsicon topicon verified">
        	<img class="comfortsimg" src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/verifiedBadgeFixed.png?v=1644920591" alt="verified badge" title="verified badge" />
			<p class="texticon middleText textIconSecond">We are one of the largest and most reputable {{main_product_singular}} Covers sites on the internet, with customer feedback to prove it. Check them out here.</p>
		</div>
		<div class="comfortsicon3 marginFix">
        	<img class="comfortsimg imageThree" src="{{ 'Hassle.png' | asset_url }}" alt="hassle free guarantee" title="hassle free guarantee" />
			<p class="texticon textIconThird hassleFreeText">With our HASSLE-FREE GUARANTEE, we offer an unrivaled customer experience.</p>
		</div>
		<div class="comfortsicon">
        	<img class="comfortsimg" src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/Free_Shipping_Car_Cover_PNG_480x480.png?v=1636490876" alt="free shipping" title="free shipping" />
			<p class="texticon shipping-icon-text">Free shipping to all of the US and Canada. In most cases, Free shipping takes between 2 and 7 business days.</p>
		</div>
		<div class="comfortsicon">
        	<img class="comfortsimg" src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/Friendly_Support_Car_Cover_PNG_480x480.png?v=1636490866" alt="customer support" title="customer support" />
			<p class="texticon middleText">Call us, use live chat, or email us. We are available for all your cover needs. Phone support available 8am - 4:30pm PST M - F.</p>
		</div>
		<div class="comfortsicon">
        	<img class="comfortsimg" src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/Safe_Shopping_Car_Cover_PNG_480x480.png?v=1636490889" alt="secure shopping" title="secure shopping" />
			<p class="texticon textIconLast">Your information is safe! We utilize a secure 128-bit encrypted SSL connection to ensure your information remains safe.</p>
		</div>
	</div>
  -->
  <div class="why-buy-grid container4">
    <div class="textBackground3 textContainer primary">
      <div class="infoBox3">
        <p class="infoBox-text">
          Whether your {{main_product_singular}} is outside or in a
          garage, your beautiful paint job is at risk from dust, dirt, and
          debris, as well bumps and scratches. By using a
          {{main_product_singular}} cover, you are safeguarding your
          investment and avoid repair to unnecessary damage later on. If you
          regularly park your {{main_product_singular}} outside, we
          suggest our AllGuard Weatherproof Max Cover, an outdoor cover meant to
          protect from all the elements:
        </p>
        <ul class="infoBox-text">
          <li>Snow</li>
          <li>Rain and other water</li>
          <li>Dirt and dust</li>
          <li>Birds and other wildlife</li>
          <li>Falling tree debris</li>
          <li>Storms and wind damage</li>
          <li>And much more!</li>
        </ul>
      </div>
    </div>
    <div class="image-container">
      <img
        class="whyBuy image1"
        src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/motorcycleCover_1.jpg?v=1670353905"
        alt="Motorcycle Cover"
        title="Motorccle Cover"
      />
    </div>
  </div>
  <div class="why-buy-grid container5 why-buy-mobile-arrangement">
    <div class="image-container">
      <img
        class="whyBuy JDimage"
        src="https://cdn.shopify.com/s/files/1/0594/7172/4696/files/camaroCover_1.jpg?v=1670353959"
        alt="Camaro Car Cover"
        title="Camaro Car Cover"
      />
    </div>
    <div class="subContainer1 textBackground5 textContainer tertiary">
      <div class="infoBox5">
        <p class="infoBox-header5-new">
          <span class="info5-text" style="font-weight: 950"
            >WE VALUE OUR CUSTOMERS</span
          >
        </p>
        <p class="infoBox-text" style="margin-top: 10px">
          <span class="info5-subtext"
            >We care about your buying experience, which is why we are so
            attentive to the specific issues that affect your
            {{main_product_singular}} cover buying needs. Shop online,
            or call a member of our team to learn more about our selection of
            high-quality, unique, and custom
            {{main_product_singular}} covers. Our merchandise includes
            an excellent line of weatherproof Outdoor
            {{main_product_singular}} Covers. Its easy to understand
            why customers prefer to shop with us.</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End HTML for why buy section -->

<style>
  .iconHelp1 {
    margin-top: 15px;
  }

  .iconHelp2 {
    margin-top: 15px;
  }

  .iconHelp3 {
  }

  .iconHelp4 {
  }

  .iconHelp5 {
  }

  .iconHelp6 {
  }

  .buy-cover-today-h3 {
    margin-left: 10%;
  }

  h3,
  .h3 {
    font-size: 2rem;
  }

  /* //////////////////////////////Gretrix Addon CSS////////////////// */

  .textBackground1 {
    background-color: #cdcaca;
    
  }

  .infoBox-text1 {
    color: black;
  }

  .textBackground2,
  .textBackground3 {
    background-color: var(--color-mid);
  }

  .textBackground5 {
    background-color: #cdcaca;
    color: white;
  }

  .infoBox-header5-new {
    color: white;
  }

  .info5-text {
    color: black;
  }

  .info5-subtext {
    color: black;
  }

  /*//////////////////////////End Gretrix Addon CSS//////////////////////*/

  @media only screen and (min-width: 750px) {
    h3,
    .h3 {
      font-size: 2.4rem;
    }
  }

  /* Why Buy Section */
  .infoBox-header-new,
  .infoBox-header4-new,
  .infoBox-header5-new {
    margin-left: 10%;
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    letter-spacing: 0.06rem;
    color: rgb(var(--color-foreground));
    line-height: 1.3;
    font-size: 2em;
  }
  .textContainer {
    max-height: 600px !important;
  }
  .image-container {
    width: 100%;
    max-height: 600px !important;
  }

  .whybuygrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }

  .whyBuy {
    width: 100%;
    height: 100% !important;
    object-fit: cover !important;
  }

  .whyBuy .image1 {
    display: block;
    width: 100%;
  }

  .infoBox,
  .infoBox1,
  .infoBox3,
  .infoBox4,
  .infoBox5 {
    margin: 2em;
    margin-top: 12%;
  }

  .top-margin7 {
    margin-top: 17%;
  }

  .infoBox-header,
  .infoBox-header4,
  .infoBox-header5 {
    margin-left: 10%;
  }
  .infoBox-text, .infoBox-text1 {
    color: white;
    font-family: "arial", "helvetica", sans-serif;
    line-height: 1.5;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
  }
 .infoBox-text1{
   color:black;
 }
  .infoBox3 ul li::marker {
    content: "+ ";
  }

  .why-buy-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }

  .why-buy-grid div div {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    width: 85%;
  }

  @media only screen and (max-width: 1075px) {
    .why-buy-grid {
      grid-template-columns: 1fr !important;
    }

    .mainContainer,
    .image-container {
      display: flex;
      flex-direction: column;
    }
    .image-container {
      display: flex;
      order: 1;
    }
  }

  @media only screen and (max-width: 1300px) {
    .infoBox,
    .infoBox1,
    .infoBox3,
    .infoBox4,
    .infoBox5 {
      margin: 3em;
      margin-top: 5%;
    }
  }

  @media only screen and (max-width: 1125px) {
    .infoBox,
    .infoBox1,
    .infoBox3,
    .infoBox4,
    .infoBox5 {
      margin: 1em;
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 1125px) {
    .infoBox,
    .infoBox1,
    .infoBox3,
    .infoBox4,
    .infoBox5 {
      margin: 0.5em;
      margin-top: 0;
    }
  }

  @media only screen and (min-width: 1300px) {
    .infoBox,
    .infoBox1,
    .infoBox3,
    .infoBox4,
    .infoBox5 {
      margin: 4em;
      margin-top: 12%;
    }
  }

  @media (max-width: 875px) {
    .iconHelp1 {
    }

    .iconHelp2 {
    }

    .iconHelp3 {
      margin-left: 35px;
      margin-top: -15px;
    }

    .iconHelp4 {
    }

    .iconHelp5 {
      margin-left: 10px;
    }

    .iconHelp6 {
    }

    .textHelp3 {
      margin-left: -20px;
    }
  }

  @media (max-width: 750px) {
    .infoBox-header-new,
    .infoBox-header4-new,
    .infoBox-header5-new {
      font-size: 1.6em;
    }
  }
  @media (max-width: 430px) {
    .infoBox-header,
    .infoBox-header4,
    .infoBox-header5 {
      display: none;
    }
    .infoBox-text,
    .infoBox-header {
      
      text-align: left;
      width: 100%;
      padding-bottom: 20px;
    }
    .infoBox,
    .infoBox1,
    .infoBox3,
    .infoBox4,
    .infoBox5 {
      margin: auto;
      width: 100%;
    }
    .buy-cover-today-h3 {
      text-align: left;
      width: 100%;
      margin-left: 0;
      padding-top: 20px;
    }
    .infoBox-header5-new {
      text-align: left;
      width: 100%;
      margin-left: 0;
    }
    .iconHelp3 {
      margin-top: -2px;
      margin-left: 20px;
    }

    .textHelp3 {
      margin-top: 17px;
    }
  }
</style>

<!-- Schema for retrieving why buy section data -->
{% schema %} { "name": "why-buy", "tag": "section", "settings": [] } {%
endschema %} {% stylesheet %} {% endstylesheet %} {% javascript %} {%
endjavascript %}
