{% render 'breadcrumbs' %} 
  <!-- Mobile Article Menu -->
<div id ="article-mobile-menu">
  
<aside class="sidenav">
   <h2><a class="blog-dropdown" onclick="toggleArticleCategoriesMobile()">&#9660</a> Categories</h2>
  <span id="categories-dropdown">
  <ul class="carcovers-styled-list">
   {% assign blog_handles = "car-cover-articles,seasonal-weather-car-care-tips,press,car-covers-news-and-press,car-cover-reviews,automotive-ownership,why-car-covers,automotive-care-and-maintenance,car-cover-guides,motorcycle-articles,other-vehicles,luxury-cars,car-news-and-facts" | split: "," %}

   {% for handle in blog_handles %}
    	<li><a href="#" class="show_hide">{{ blogs[handle].title }} ({{ blogs[handle].articles_count }})</a>
    		<div class="carcovers-collapse">
            {% for article in blogs[handle].articles %}
                <p><a href="{{ article.url }}">{{ article.title }}</a></p>
            {% endfor %}
            </div>
    	</li>
  {% endfor %}
  </ul>
  </span>
   <h2><a class="blog-dropdown" onclick="toggleArticleSearchMobile()">&#9660</a> Search Articles</h2>
   <span class="article-search-sidenav" id="search-articles-dropdown">
    <form action="{{ routes.search_url | blogs }}">
  		<input id="blog-search" aria-label="search through blog articles" placeholder="Title, keyword, etc." type="text"
    placeholder="Search"
    name="q"
    value="{{ search.terms | escape }}">
  		<input type="submit" value="Search" id="blog-search-btn">
	</form>
   </span>
   <h2><a class="blog-dropdown"  >&#9660</a> Tags</h2>
  <ul class="article-tags-sidenav" id="article-tags-dropdown">
    {% capture all_tags %}
	{% for handle in blog_handles %}
    	{% for tag in blogs[handle].all_tags %}
      		{{ tag }}::
    	{% endfor %}
    {% endfor %}
    {% endcapture %}
    {% assign tags_unique = all_tags | split: '::' | uniq %}
    {% for tag in tags_unique | limit: 13 %}
    	{% if forloop.last == false %}
    	<p class="blog-tags-list"><a href="/search?q={{ tag | strip | strip_newlines | strip_html | replace: "  ", "" | replace: "	", "" }}">{{ tag }}</a></p>
    	{% endif%}
    {% endfor %}
      
  </ul>
   <h2><a class="blog-dropdown" onclick="toggleArticleRecentCommentsMobile()">&#9660</a> Recent Comments</h2>
   <span class="recent-comments-sidenav" id="recent-comments-dropdown">
     {% assign cmt_it = 0 %}
     {% for handle in blog_handles %}
     	{% for article in blogs[handle].articles %}
     		{% if article.comments_count > 0 %}
     			{% for comment in article.comments %}
     				{% if cmt_it == 5 %}{% break %}{% endif %}	
     				<div class="blog-recent-comment">
                      <span class="blog-recent-comment-content">{{ comment.content }}</span>
                      <p class="blog-recent-comment-date">{{ comment.created_at | date: "%B, %d %Y" }}</p>
                      <p class="blog-recent-comment-author"><img src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/000000/external-User-essential-collection-bearicons-glyph-bearicons.png" height="30px" width="30px" style="
    vertical-align: middle;
"> {{ comment.author }}</p>
     				</div>
     				{% assign cmt_it = cmt_it | plus: 1 %}
     			{% endfor %}
     		{% endif %}
     	{% endfor %}
     {% endfor %}
   </span>
   <h2><a class="blog-dropdown" onclick="toggleArticleRecentPostsMobile()">&#9660</a> Recent Posts</h2>
   <span class="recent-posts-sidenav" id="recent-posts-dropdown">
	{% assign cmt_it = 0 %}
    {% for handle in blog_handles %}
    	{% for article in blogs[handle].articles %}
     		{% if cmt_it == 5 %}{% break %}{% endif %}
     		{% assign index_plus = forloop.index | plus: 1 %}
     		<div class="blog-recent-comment">
     		{% if article.created_at < blogs[handle].articles[index_plus].created_at %}
              	<p class="blog-recent-comment-content">{{ article.title }}</p>
               	<span class="blog-recent-article-excerpt">{{ article.excerpt | strip_html | truncate: 100, "..." }}</span>
              	<p class="blog-recent-comment-date">{{ article.created_at | date: "%B, %d %Y" }}</p>
            {% else %}
              	<p class="blog-recent-comment-content">{{ blogs[handle].articles[index_plus].title }}</p>
               	<span class="blog-recent-article-excerpt">{{ blogs[handle].articles[index_plus].excerpt | strip_html | truncate: 100, "..." }}</span>
              	<p class="blog-recent-comment-date">{{ blogs[handle].articles[index_plus].created_at | date: "%B, %d %Y" }}</p>
              	{% assign forloop.index = forloop.index | plus: 1 %}
     		{% endif %}
     		</div>
     		{% assign cmt_it = cmt_it | plus: 1 %}
    	{% endfor %}
    {% endfor %}
   </span>
</aside>
</div>

  <div id="generated-article-liquid">
        <!-- Article -->
          <div class="article-flex-header">
          <h2 class="article-title">{{ article.title }}</h2>
            <span class="time-and-views">
            <span class="article-time">
              {{ article.created_at | date: "%B, %d %Y" }}
            </span>
<!--             <span class="article-views">
              <p>[13 view(s)]</p>
            </span> -->
            </span>
          </div>
          <hr class="article-break"> 
        
 
       <div class="article-body textile">
           <div class ="article-banner-container">
            <div class="recent-comments-container">
            <span class="article-details">
              <span class="article-author"><img src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/000000/external-User-essential-collection-bearicons-glyph-bearicons.png" height="45px" width="45px"/> by {{ article.author }}</span>
              <span class="comment-count"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/64/000000/external-comment-chat-flatart-icons-solid-flatarticons.png"height="60px" width="50px"/> {{article.comments_count}} Comments</span>
              </span>
              <span class="recent-comments">
              <h2>Most Recent Comments</h2>
              {% for comment in article.comments %}
                <p>{{ comment.content }}</p>
                <small>{{comment.created_at | date: "%B, %d %Y" }}</small>
                <span class="comment-author"><img src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/000000/external-User-essential-collection-bearicons-glyph-bearicons.png" height="45px" width="45px"/>{{comment.author}}</span>
                <hr>
                {% else %}
                <p>There are no comments yet.<p>
                <hr> 
                {% endfor %}
            </span>
          </div>
            {% if article.content contains "<img" %}
            {% assign src = article.content | split: 'src="' %}
  <!--      {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn';; | replace: 'http:http://';;, 'http://';; | remove: 'https:' %} -->
            <img id="article-banner-image" src="{{src}}" />
             {% else if article.image %}
             <img id="article-banner-image" src="{{ article.image | image_url }}" />
             {% else %}
             <img id="article-banner-image" src="{{ "white-bg.png" | asset_url }}" height="20px" />
           {% endif %}
           </div>
           <div class="under-banner-article-content">
             
             {{ article.content | replace: '1. ', '&#8226; ';; | replace: '2. ', '&#8226; ';; | replace: '3. ', '&#8226; ';; | replace: '4. ', '&#8226; ';; | replace: '5. ', '&#8226; ';; | replace: '6. ', '&#8226; ';; | replace: '7. ', '&#8226; ';; | replace: '8. ', '&#8226; ';; | replace: '9. ', '&#8226; ';; }}

           </div>
       </div>
         



<!-- END Article -->
 
 
  <!-- Comment Form -->
  {% if blog.comments_enabled? %}
  <div id="comment-form">
  {% form 'new_comment', article %}
    <h2>Comments</h2>
    <h3>Leave your comment</h3>
    <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
    {% if form.posted_successfully? %}
      {% if blog.moderated? %}
        <div class="notice">
          Successfully posted your comment.<br />
          It will have to be approved by the blog owner first before showing up.
        </div>
      {% else %}
        <div class="notice">Successfully posted your comment.</div>
      {% endif %}
    {% endif %}
    
    {% if form.errors %}
      <div class="notice error">Please check that all form fields have been filled out correctly.</div>
    {% endif %}
    
    <dl>
      <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">Your name</label></dt>
      <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="{% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

      <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">Your email</label></dt>
      <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

      <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">Your comment</label></dt>
      <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
    </dl>
    
    {% if blog.moderated? %}
      <p class="hint">comments have to be approved before showing up</p>
    {% endif %}    

    <button type="submit" value="Post comment" id="comment-submit" onClick="console.log('test')">Post Comment</button>
    
  {% endform %}
    {% endif %}
  </div>
</div>

<script>
function submitReload() {
  setTimeout(() => window['location']['reload'](), 10000);
}

function toggleArticleCategoriesMobile() {
    var x = document.getElementById("categories-dropdown");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }

  function toggleArticleSearchMobile() {
    var x = document.getElementById("search-articles-dropdown");
    if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
}
function toggleArticleTagsMobile() {
    var x = document.getElementById("article-tags-dropdown");
    if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
}
function toggleArticleRecentCommentsMobile() {
    var x = document.getElementById("recent-comments-dropdown");
    if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
  }
function toggleArticleRecentPostsMobile() {
    var x = document.getElementById("recent-posts-dropdown");
    if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
  }

</script>