{{ "section-product-selector-page.css" | asset_url | stylesheet_tag }}
{{ "individual-product-template-page-data.js" | asset_url | script_tag }}
<script>


   {% assign products_by_price = collections.["snowmobile-covers"].products | sort: "price" %}
    {% assign reverse_sorted = products_by_price | reverse %}
    {% assign ch = collection.handle %}
    productDatas = {{reverse_sorted | json}};
    products_by_price = {{products_by_price | json}}
    cartData = {{ cart | json }};

    console.log("CHECK PRODUCTS_BY_PRICE", "{{ch}}" )
    productObject = [];
    {% for product in reverse_sorted %}

    	tempObj = {{ product | json }};
      //need to add remaining metafields in order to access metafield data on page
      tempObj["collection_content"] = {{ product.metafields.customField.collection_content.value | json }};
      //added remaining metafields
      tempObj["360Product-video"] = {{product.metafields.customField.Product_Page_Product_360_Youtube_Video_ID}}
      tempObj["tutorial-video"] = {{product.metafields.customField.Product_Page_Tutorial_Youtube_Video_ID}}
        tempObj["ratings_content"] = {{product.metafields.customField.ratings_content.value | json}}
        tempObj["metaBanner"] = {{product.metafields.customField.metaBanner.value | json}}
        tempObj["metaMobileBanner" ]= {{product.metafields.customField.mobileMetaBanner.value | json}}
    	console.log("tempObj test", tempObj)
    	productObject.push(tempObj);

    {% endfor %}
  landingPageCollection = productObject;
  console.log("NEW LANDING COLLECTION", landingPageCollection)
</script>
<div id="margin-container">
  <div id="car-subpage-container">
    <!-- <div id="car-subpage-container-section">
      <div class="product-selector-subpage-container">
        <div class="ipp-container" style="border: none"> -->
          <div class="product-selector-area">
            <div class="product-selector-subpage-container-left">
              <h2 class="product-selector-subpage-title"></h2>
              <h2 class="product-selector-subpage-subtitle">
                <p class="TEST"></p>
                Act Now: Up to 50% off and 100% Free Shipping
              </h2>
              <hr style="margin-top: 0; margin-bottom: 50px; color: black" />

              <div class="product-select">
                <div class="select-box"">
                  <form method="POST" id="carform">
                    <span id="vehicle_start"></span>

                    <div class="vehicle-select grid-four">
                      <div>
                        <img
                          src="{{ 'start-here.png' | asset_url }}"
                          alt="start here"
                          title="start here"
                        />
                        <select id="year" name="year">
                          <option selected disabled>
                            Select your vehicle year...
                          </option>
                        </select>
                      </div>
                      <select id="make" name="make" style="display: true">
                        <option selected id="make-year" disabled>
                          Select your vehicle make...
                        </option>
                      </select>
                      <select
                        id="model"
                        name="model"
                        disabled
                        style="display: none"
                      >
                        <option selected disabled>Select your model...</option>
                      </select>
                      <select
                        id="body"
                        name="body"
                        disabled
                        style="display: none"
                      >
                        <option selected disabled>
                          Select your body type...
                        </option>
                        <option>All body types</option>
                      </select>
                    </div>

                    <div class="body-selector" style="display: none">
                      <div class="truck-panel">
                        <div class="truck-panel-header">
                          SELECT BODY STYLE
                          <span
                            class="panel-close"
                            onclick="$('.body-selector').hide();"
                            >&times;</span
                          >
                        </div>
                        <div
                          class="truck-panel-grid"
                          id="truck-panel-grid"
                        ></div>
                      </div>
                    </div>

                    <a id="link" href="#" class="submit-btn"
                      >View All Available Covers</a
                    >
                  </form>
                </div>

                <p style="text-align: center">
                  Can't Find Your Vehicle?
                  <a
                    href="/pages/cant-find-your-vehicle"
                    style="text-decoration: none; color: black"
                    >Click Here</a
                  >
                </p>
              </div>
              <div class="product-selector-left-grey-box">
                <div class="bulletFormatting">
                  <ul>
                    <li>Free Shipping</li>
                    <li>In Stock</li>
                    <li>Ships Next Business Day</li>
                  </ul>
                  <ul>
                    <li>Guaranteed Fit</li>
                    <li>Lifetime Warranty</li>
                    <li>Hassle Free Guarantee</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="product-selector-subpage-container-right">
              {% section 'landing_product' %}
            </div>
          </div>

          <div class="pops">
            <div class="pops-header text-center primary">
              <a href="#" class="cls-pop">Back</a>Make Your Selection:
            </div>

            <div id="pops-options">
              <div data-value="Car" data-form="#type">
                <span class="veh-instance"></span> Covers
              </div>
              <div data-value="Van" data-form="#type">Van Covers</div>
              <div data-value="Truck" data-form="#type">Truck Covers</div>
              <div data-value="SUV" data-form="#type">SUV Covers</div>
            </div>
          </div>
        <!-- </div>
      </div>
    </div> -->
  </div>
</div>
{%section 'best-seller-collections'%}
<style>
  /*Landing Page ONLY CSS*/
  .prod-sel-nb-main-guarantee-container-item{
    width: 173px;
  }
  .subpage-ptext {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    letter-spacing: 0.06rem;
    color: rgb(var(--color-foreground));
    line-height: 1.3;
  }
  .bulletFormatting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .sublinks-title,
  .car-subpage-category-links-column,
  #breadcrumb-page-title,
  .paragraph-header-vehicle-type {
    text-transform: capitalize;
  }

  /* /////////////////////////////////Gretrix/////////////////////// */

  /* .product-selector-subpage-container-left {
    width: 100%;
  }

  .bullet-formatting{
   
  }

.prod-sel-header .secondary{
  background-color: pink;
  z-index: 99;
}


  .product-selector-subpage-container-right {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    border: 0;
    border-left: 3px solid lightgray;
    border-right: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    padding: 0, 1em, 0, 1em;
    border: 3px solid lightgray;
    border-left: none;
    justify-content: center;
    align-items: center;
  }

  .product-selector-subpage-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-select{
    margin-top: 5.5rem;
    
  }

  .select-box{
    height: 100px;
  }

  @media (max-width: 749px){
    .product-selector-area{
      flex-direction: column;
    }

     .mobile-only{
      width: 100vw;
      min-width: 445px;
      border: 2px solid red;
    }

    .product-selector-area{
      width: 50%;
    }

    .ipp-container{
      width: 100vw;
    }

    .product-selector-subpage-container{
      width: 100vw;
    }

    .car-subpage-container-section{
      width: 100vw;
    }
  } */


.prod-sel-body-header{
  width: 80%;
  /* text-align: center; */
}


 .inner-button{
    background-color: #ff9933;
  }




  /* //////////////////////////////////Gretrix//////////////////////////// */

  .leftArrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    /*z-index: 2;*/
  }

  .rightArrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    right: 0%;
    border-radius: 3px 0 0 3px;
    /*z-index: 2;*/
  }
  /*CSS FOR SLIDER*/
  .slider-container {
    height: 100%;
    width: 100%;
  }

  .slide {
    display: flex;
    height: 100%;
  }

  .arrowBackgroundLeft {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background: black;
    opacity: 0.4;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 3px 0 0 3px;
    /*z-index: 2;*/
  }

  .arrowBackgroundRight {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background: black;
    opacity: 0.4;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    right: 0;
    border-radius: 3px 0 0 3px;
    /*z-index: 2;*/
  }

  #s1 {
    width: 100%;
    height: 100%;
  }

  #s2 {
    width: 100%;
    height: 100%;
  }

  #s3 {
    width: 100%;
    height: 100%;
  }

  #s4 {
    width: 100%;
    height: 100%;
  }
  .right {
    transform: scale(3);
  }

  .left {
    transform: scale(3);
  }

  .shown {
    visibility: visible;
    animation-name: fadein;
    animation-duration: 1s;
  }
  .hidden {
    visibility: hidden;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media screen and (min-width: 2200px) {
    .product-selector-left-grey-box li {
      font-size: 24px;
    }
  }
  @media (max-width: 1296px) {
    .product-selector-subpage-container-right {
      width: 100%;
    }
  }
  @media (max-width: 430px) {
    .rightArrow,
    .leftArrow {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 325px) {
    .bulletFormatting {
      display: block;
    }
  }

  @media only screen and (max-width: 430px) {
    .prod_info_mobile {
      text-align: left;
      padding: 0;
    }

    .arrowBackgroundLeft {
      position: absolute;
      top: 48%;
    }

    .arrowBackgroundRight {
      position: absolute;
      top: 48%;
    }
  }
</style>

{{ "global-selector.js" | asset_url | script_tag }}
