<!-- Below are variables for the primary product -->
{% assign main_product_singular = 'Vehicle' %}
{% assign main_product_plural = 'Vehicles' %}
{% assign main_product_website = 'CarCoversUK.com' %}
<main>
   <div>
      <h1><strong>Can't find a cover for your <span class="veh-instance">?</strong></h1>
      <p><span style="font-size: medium;">From time to time it is possible we don't have a <span class="veh-instance"> listed on our website database. If your automobile is not listed, <strong>we can STILL get an affordable cover for you.</strong></span></p>
      <p><span style="font-size: medium;">Simply give us a call ( 800-219-0462 ) M-F 8am-4:30pm PST (West coast time) or <a title="Covers" href="/pages/contact">email us</a><strong>.</strong> One of our representatives will get more information about your {{main_product_singular}} and will ensure that we are able to send you a {{main_product_singular}} cover that perfectly fits your {{main_product_singular}}.</span></p>
      <p><span style="font-size: medium;">We will even throw in a discount for the inconvenience.</span></p>
      <p><span style="font-size: medium;">Thank you for choosing {{main_product_website}}!</span></p>
   </div>
   {% section 'covers-buttons' %}
 <!--Start Stamped.io Auto Installation-->

<div id="stamped-main-widget" 
     class="stamped-main-widget" 
     data-widget-style="standard" 
     data-product-id="{{ product.id }}" 
     data-name="{{ product.title | escape }}" 
     data-url="{{ shop.url }}{{ product.url }}" 
     data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
     data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" 
     data-product-type="{{product.type}}" 
     data-widget-language="{{shop.locale}}">{{ product.metafields.stamped.reviews }}
</div>

<!--End Stamped.io Auto Installation-->
</main>

<style>
  main {
  	width: 80%;
    margin: auto;
  }
</style>