{{ 'section-product-selector-page.css' | asset_url | stylesheet_tag }}

{% render 'breadcrumbs' %} 
    <!-- Outdoor -->
<div class="prod-sel-container">
    <div class="prod-sel-header">
        Our Best Seller Car Cover For OUTDOOR Use
    </div>
    <span class="prod-sel-text-container">
        <p class="prod-sel-text">For outdoors we recommend our top selling cover! This is the most durable cover for outdoor use. It is designed to hold up in all types of extreme weather from rain, snow, high UV and sun exposure, and more!</p>
        <p class="prod-sel-text">Additionally, if you plan to use cover outdoors, we highly recommend adding the optional Gust Strap Wind Protector when you click add to cart. The wind straps will keep the cover on during windy or stormy times.</p>
    </span>
    <span class="prod-sel-body-card">
        <h3 class="prod-sel-body-header">Platinum Shield Car Cover</h3>
        <hr class="prod-sel-body-hr">
        <span class="prod-sel-body-stars">
            <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 Stars"></span> <span title='review length' class="prod-sel-body-review-len">{% assign product = all_products['Abarth-1000-1962'] %}
            {% if product == blank %}
                <h1>No product found</h1>
            {% else %}
                <h1>{{ product.review }}</h1>
            {% endif %}</span> <span class="prod-sel-body-reviews">26909 Verified Reviews | Platinum Shield Car Cover</span>
        </span>
        <span class="prod-sel-body-main">
            <span class="prod-sel-body-recommend-card">
                <span class="prod-sel-body-recommend">
                    <span class="prod-sel-body-best">
                        #1 Best Seller
                    </span>
                    
                    <span class="prod-sel-body-top">
                        Top Quality
                    </span>
                </span>
                <span id="prod-sel-comment-ult-mobile-only">
                    <p class="prod-sel-nb-main-comment" title="[single review -from writer]">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        <br>
                        -Howard B.
                    </p>
                </span>
                <img class="prod-sel-body-image" src = "{{ ' platinumCarCover_individualproductpage.png ' | asset_url }}" alt="Platinum Car Cover">
                <h6 class="prod-sel-body-image-desc">top level platinum protection</h6>
            </span>
            <span class="prod-sel-body-text-container">
                <span>
                    <p class="prod-sel-body-text" title="[single review -from writer]">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        <br>
                        -Howard B.
                    </p>
                </span>
                <p class="prod-sel-body-text">
                    <strong>NEW Platinum Quality Material!</strong> Platinum Shield Car Covers provide top level protection against all the elements including rain, snow, wind, UV / Sun rays, and more. Extremely durable exterior with <span class="text-decoration: underline;">soft fleece lining on interior.</span>
                    <br><span class="prod-sel-body-show">* Outperforms 5L Covers *</span>
                </p>
                <span class="prod-sel-body-use-container">
                    <div class="prod-sel-body-use-sub-container">
                        <span class="prod-sel-body-use">
                            Water <img class="prod-sel-body-use-stars padding-left: 22px;" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use">
                        <span class="prod-sel-body-use">
                            Snow <img class="prod-sel-body-use-stars" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}"  alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use">
                        <span class="prod-sel-body-use">
                            UV Rays <img class="prod-sel-body-use-stars prod-sel-body-use-stars-ext" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use">
                        <span class="prod-sel-body-use">
                            Cover Fit <img class="prod-sel-body-use-stars" src = "{{ ' 5Star_individualproductpage.svg' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use">
                        <span class="prod-sel-body-use">
                            Durability <img class="prod-sel-body-use-stars" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use-warranty">
                        Lifetime Warranty
                    </div>
                    <span class="prod-sel-more-details-link" ><a href="#">More Details</a></span>
                </span>
            </span>
            <span class="prod-sel-media-container-ult">
                <img class ="prod-sel-media-container-ult-hide" src = "{{' recommendedBadge_individualproductpage.svg ' | asset_url }}" width="70px" height="70px">
                <img src = "{{ ' interiorfleecelining_individualproductpage.png ' | asset_url }}" alt="Interior Fleece Lining" width="100px" height="60px">   
              <a href="https://www.youtube.com/watch?v=H0CNOFULuV8&feature=youtu.be" target="blank"><img src = "{{ ' platinumCarCover_individualproductpage.png ' | asset_url }}" alt="Platinum Car Cover Video" width="100px" height="60px"></a>   
                <span class="prod-sel-info-video-desc"><a href="https://www.youtube.com/watch?v=H0CNOFULuV8&feature=youtu.be" target="blank">Play Product Demo Video</a></span>
                <span class="prod-sel-more-details-link-mobile-only" ><a href="#">More Details</a></span>
            </span>
            <hr class="prod-sel-info-hr">
            <span class="prod-sel-price-container">
                <span class="prod-sel-mobile-container-bs-outdoor">
                <span class="prod-sel-mobile-price-container-bs-outdoor">
                <h2 class="prod-sel-price-head">
                  {% assign product = all_products['Abarth-1000-1962'] %}
                  {% if product == blank %}
                      <span class="prod-sel-price">No product found</span>
                  {% else %}
                      <span class="prod-sel-price">{{ product.price | money }}</span>
                  {% endif %}
                </h2>
                <span class="prod-sel-price-old-container">Regular Price <span>
                    {% assign product = all_products['Abarth-1000-1962'] %}
                    {% if product == blank %}
                        <span class="prod-sel-price-old">No product found</span>
                    {% else %}
                        <span class="prod-sel-price-old">{{ product.compare_at_price | money }}</span>
                    {% endif %}
                </span>
                  </span>
                </span>
                <img class="prod-sel-cart-btn" src = "{{ ' addo-to-cart-button_individualproductpage.png ' | asset_url }}" alt="add to cart">
                </span>
                <!-- <button class="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ ' _individualproductpage. ' | asset_url }}/cart-icon.svg" alt="cart"> Add To Cart</button> -->
                <span class="prod-sel-nb-main-guarantee-container-ult">
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Guaranteed</span>&nbsp; Fit</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> 30 Day Returns</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Free</span>&nbsp; Shipping</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">In</span>&nbsp; Stock</span>
                    <span class="prod-sel-nb-main-guarantee-check-last"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> Ships <span class="prod-sel-nb-main-guarantee-stand">Next</span> Business Day</span>
                </span>
            </span>
        </span>
    </span>
    <span class="prod-sel-bonus-item-section">
        <img class="prod-sel-bonus-item-section-image" src = "{{ ' FreeCarCoverCareKit_Platinum_individualproductpage.png ' | asset_url }}" >
        <img class="prod-sel-bonus-item-section-image-mobile" src = "{{ ' FreeCarCoverCareKit_mobile_platinum_individualproductpage.png ' | asset_url }}" >
    </span>
</div>
 


<!-- Indoor -->
<div class="prod-sel-container">
    <div class="prod-sel-header">
        Our Best Seller Car Cover For INDOOR Use
    </div>
    <span class="prod-sel-text-container">
        <p class="prod-sel-text">For indoors we highly recommend our Indoor black satin shield cover. This is our most luxurious, ultra-plush, and soft material. Additionally, it is our most form-fitting cover, providing an unmatched level of customer satisfaction. Highly recommended for indoor storage.</p>
    </span>
    <span class="prod-sel-body-card">
        <h3 class="prod-sel-body-header">Indoor Black Satin Shield Car Cover</h3>
        <hr class="prod-sel-body-hr">
        <span class="prod-sel-body-stars">
            <span title='img-star-svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 Stars"></span> <span title='review length' class="prod-sel-body-review-len"></span> <span class="prod-sel-body-reviews">26909 Verified Reviews | Platinum Shield Car Cover</span>
        </span>
        <span class="prod-sel-body-main">
            <span class="prod-sel-body-recommend-card">
                <span class="prod-sel-body-recommend">
                    <span class="prod-sel-body-best">
                        #1 Best Seller
                    </span>
                    <span class="prod-sel-body-ultra">
                        Ultra Soft
                    </span>
                </span>
                <img class="prod-sel-body-image" src = "{{ ' CarSatin_individualproductpage.png ' | asset_url }}" alt="Black Satin Car Cover">
                <h6 class="prod-sel-body-image-desc">Super Soft Satin - Indoor Only</h6>
            </span>
            <span class="prod-sel-body-text-container">
                <span>
                    <p class="prod-sel-body-text" title="[single review -from writer]">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        <br>
                        -Howard B.
                    </p>
                </span>
                <p class="prod-sel-body-text-indoor-container">
                    <strong>Indoor Only!</strong> Our softest, most luxurious material made for your garage kept vehicle. A satin-like stretchy material taht is soft both inside and out. This cover is sure to please as it comes with our highest customer satisfaction rating of all covers!</span>
                    <br><span class="prod-sel-body-show">&nbsp;</span>
                </p>
                <span class="prod-sel-body-use-container">
                    <div class="prod-sel-body-use-indoor-sub-container">
                        <span class="prod-sel-body-use-indoor">
                           Use <span class="prod-sel-body-use-indoor-text">Indoor Only</span>
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-star-container">
                        <span class="prod-sel-body-use-indoor-star-first">
                            <span class="prod-sel-body-use-indoor-cover">Cover Fit</span> <img class="prod-sel-body-use-stars-indoor" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-star-container">
                        <span class="prod-sel-body-use">
                            Dust <img class="prod-sel-body-use-indoor-dust" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-star-container">
                        <span class="prod-sel-body-use">
                            Durability <img class="prod-sel-body-use-stars-indoor" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-star-container">
                        <span class="prod-sel-body-use">
                            Softness <img class="prod-sel-body-use-stars-indoor" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-body-use-indoor-warranty-container">
                        Warranty <span class="prod-sel-body-use-indoor-warranty">10 Years</span>
                    </div>
                    <span class="prod-sel-more-details-link" ><a href="#">More Details</a></span>
                </span>
            </span>
            <span class="prod-sel-media-container-indoor">
                <img src = "{{ ' ultrasoftmaterial_individualproductpage.png ' | asset_url }}" alt="Ultra Soft Material" width="100px" height="60px">
                <a href="https://youtu.be/YV-gBRcdq8g" target="blank"><img src = "{{ ' indoor_cover.jpg' | asset_url }}" alt="Indoor Black Satin Car Cover Video" width="100px" height="60px"></a>   
                <span class="prod-sel-info-video-desc"><a href="https://youtu.be/YV-gBRcdq8g">Play Product Demo Video</a></span>
                <span class="prod-sel-more-details-link-mobile-only" ><a href="#">More Details</a></span>
            </span>
            <hr class="prod-sel-info-hr">
            <span class="prod-sel-price-container">
                <span class="prod-sel-mobile-container-bs-indoor">
                <span class="prod-sel-mobile-price-container-bs-indoor">
                <h2 class="prod-sel-price-head"><span></span>
                  {% assign product = all_products['Abarth-1000-1962'] %}
                  {% if product == blank %}
                      <span class="prod-sel-price">No product found</span>
                  {% else %}
                      <span class="prod-sel-price">{{ product.price | money }}</span>
                  {% endif %}  
                </h2>
                <span class="prod-sel-price-old-container">Regular Price <span>
                  {% assign product = all_products['Abarth-1000-1962'] %}
                  {% if product == blank %}
                      <span class="prod-sel-price-old">No product found</span>
                  {% else %}
                      <span class="prod-sel-price-old">{{ product.compare_at_price | money }}</span>
                  {% endif %}
                </span>
                  </span>
                </span>
                 <img class="prod-sel-cart-btn" src = {{ ' addo-to-cart-button_individualproductpage.png ' | asset_url }} alt="add to cart">
              </span>
                <!-- <button style="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ ' _individualproductpage. ' | asset_url }}/cart-icon.svg" alt="cart"> Add To Cart</button> -->
                <span class="prod-sel-nb-main-guarantee-container">
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Guaranteed</span>&nbsp; Fit</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg  ' | asset_url }}" alt="check mark"> 30 Day Returns</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg  ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Free</span>&nbsp; Shipping</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg  ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">In</span>&nbsp; Stock</span>
                    <span class="prod-sel-nb-main-guarantee-check-last"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg' | asset_url }}" alt="check mark"> Ships <span class="prod-sel-nb-main-guarantee-stand">Next</span> Business Day</span>
                </span>
            </span>
        </span>
        <span class="prod-sel-bonus-item-section">
            <img class="prod-sel-bonus-item-section-image" src = "{{ ' FreeCarCoverCareKit_individualproductpage.png ' | asset_url }}" >
            <img class="prod-sel-bonus-item-section-image-mobile" src = "{{ ' FreeCarCoverCareKit_mobile_individualproductpage.png ' | asset_url }}" >
        </span>
</div>



<!-- Ultimate -->
<div class="prod-sel-nb-container">
    <span class="prod-sel-nb-subcontainer">
        <h3 class="prod-sel-nb-header">Ultimate Shield Car Cover</h3>
        <hr class="prod-sel-nb-hr">
        <span class="prod-sel-nb-star">
            <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars"></span> <span title='review length' class="prod-sel-nb-review-len"></span> <span class="prod-sel-nb-review">26909 Verified Reviews | Ultimate Shield Car Cover</span>
        </span>
        <span class="prod-sel-nb-body-container-ult prod-sel-nb-body-container">
            <span class="prod-sel-nb-body-image-container-ult">
                <span class="prod-sel-nb-body-upsell-container">
                    <span class="prod-sel-nb-body-upsell">
                        Great Value
                    </span>
                </span>
                <span id="prod-sel-comment-ult-mobile-only">
                    <p class="prod-sel-nb-main-comment" title="[single review -from writer]">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        <br>
                        -Howard B.
                    </p>
                </span>
                <img class="prod-sel-nb-body-image" src = "{{ ' CarUltimate_individualproductpage.png ' | asset_url }}" alt="Ultimate Shield Car Cover">
                <h6 class="prod-sel-nb-body-image-desc">Exceptional Year Round Protection</h6>
            </span>
            <span class="prod-sel-nb-main-container">
                <span id="prod-sel-comment-ult">
                    <p class="prod-sel-nb-main-comment" title="[single review -from writer]">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        <br>
                        -Howard B.
                    </p>
                </span>
                <p class="prod-sel-nb-main-text">
                    Ultimate Shield Car Covers provides complete protection against all the elements including rain, snow, wind, UV / Sun rays, and more.</span>
                    <span class="prod-sel-nb-main-comparison">* Comparable to 5L covers *</span>
                </p>
                <span class="prod-sel-nb-main-star-chart">
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            <span class="prod-sel-nb-main-star-chart-item">Water</span> <img class="prod-sel-nb-main-star-chart-stars" src = {{ ' 5Star_individualproductpage.svg ' | asset_url }} alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            <span class="prod-sel-nb-main-star-chart-item">Cover Fit</span> <img class="prod-sel-nb-main-star-chart-stars" src = {{ ' 5Star_individualproductpage.svg ' | asset_url }} alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            Snow <img class="prod-sel-nb-main-star-chart-stars-ext" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            Durability <img class="prod-sel-nb-main-star-chart-stars" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            <span class="prod-sel-nb-main-star-chart-item">UV Rays</span> <img class="prod-sel-nb-main-star-chart-stars" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-subcontainer-last">
                        Warranty <span class="prod-sel-nb-main-star-chart-warranty-ult">10 Years</span>
                    </div>
                    <span id="prod-sel-comment-ult"><a href="#">More Details</a></span>
                </span>
            </span>
            <span class="prod-sel-media-container-ult">
                <img class ="prod-sel-media-container-ult-hide" src = "{{ 'recommendedBadge_individualproductpage.svg' | asset_url }}" width="70px" height="70px">
                <img src = "{{ ' interiorfleecelining_individualproductpage.png ' | asset_url }}" alt="Interior Fleece Lining" width="100px" height="60px">
                <a href="https://youtu.be/AiTiylniXW0" target="blank"><img src = "{{ ' ultimate_cover.jpg ' | asset_url }}" alt="Ultimate Car Cover Video" width="100px" height="60px"></a>   
                <span class="prod-sel-info-video-desc"><a href="https://youtu.be/AiTiylniXW0">Play Product Demo Video</a></span>  
                <span class="prod-sel-more-details-link-mobile-only" ><a href="#">More Details</a></span>
            </span>
            <hr class="prod-sel-nb-main-hr-ult">
            
            <!-- <hr class="prod-sel-nb-main-hr"> -->
            <span class="prod-sel-nb-main-price-container">
                <span class="prod-sel-mobile-container-ult">
                <span class="prod-sel-mobile-price-container-ult">
                <h2 class="prod-sel-nb-main-price-head"><span></span>
                  {% assign product = all_products['Abarth-1000-1962'] %}
                  {% if product == blank %}
                      <span class="prod-sel-nb-main-price">No product found</span>
                  {% else %}
                      <span class="prod-sel-nb-main-price">{{ product.price | money }}</span>
                  {% endif %}  
                </h2>
                <span class="prod-sel-nb-main-reg-price-head-ult">Regular Price <span>
                  {% assign product = all_products['Abarth-1000-1962'] %}
                  {% if product == blank %}
                      <span class="prod-sel-nb-main-reg-price">No product found</span>
                  {% else %}
                      <span class="prod-sel-nb-main-reg-price">{{ product.compare_at_price | money }}</span>
                  {% endif %}
                </span>
                  </span>
            </span>
                <img class="prod-sel-nb-main-cart-btn-ult" src = "{{ ' addo-to-cart-button_individualproductpage.png ' | asset_url }}" alt="add to cart">
             </span>
                <!-- <button style="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ ' _individualproductpage ' | asset_url }} | asset_url }./cart-icon.svg" alt="cart"> Add To Cart</button> -->
                <span class="prod-sel-nb-main-guarantee-container-ult">
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Guaranteed</span>&nbsp; Fit</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> 30 Day Returns</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Free</span>&nbsp; Shipping</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">In</span>&nbsp; Stock</span>
                    <span class="prod-sel-nb-main-guarantee-check-last"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> Ships <span class="prod-sel-nb-main-guarantee-stand">Next</span> Business Day</span>
                </span>
            </span>
        </span>
    </span>
    <span class="prod-sel-bonus-item-section">
        <img class="prod-sel-bonus-item-section-image" src = "{{ ' FreeCarCoverCareKit_individualproductpage.png ' | asset_url }}" >
        <img class="prod-sel-bonus-item-section-image-mobile" src = "{{ ' FreeCarCoverCareKit_mobile_individualproductpage.png ' | asset_url }}" >
    </span>
</div>

<!-- Deluxe  -->
<div class="prod-sel-nb-container">
    <span class="prod-sel-nb-subcontainer">
        <h3 class="prod-sel-nb-header">Deluxe Shield Car Cover</h3>
        <hr class="prod-sel-nb-hr">
        <span class="prod-sel-nb-star">
            <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}"  alt="5 Stars"></span> <span title='review length' class="prod-sel-nb-review-len"></span> <span class="prod-sel-nb-review">26909 Verified Reviews | Platinum Shield Car Cover</span>
        </span>
        <span class="prod-sel-nb-body-container">
            <span class="prod-sel-nb-body-image-container">
                <img class="prod-sel-nb-body-image" src = "{{ ' CarDeluxe_individualproductpage.png ' | asset_url }}" alt="Deluxe Shield Car Cover">
                <h6 class="prod-sel-nb-body-image-desc">Reliable Indoor / Outdoor Protection</h6>
            </span>
            <span class="prod-sel-nb-main-container">
                <p class="prod-sel-nb-main-text deluxe-shield-description">
                    Deluxe Shield Car Covers are great outdoor covers. They offer amazing protection against rain and the elements. Perfect for high moisture areas.</span>
                    <span class="prod-sel-nb-main-comparison">&nbsp;</span>
                </p>
                <span class="prod-sel-nb-main-star-chart">
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            <span class="prod-sel-nb-main-star-chart-item">Water</span> <img class="prod-sel-nb-main-star-chart-stars" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}"  alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            <span class="prod-sel-nb-main-star-chart-item">Cover Fit</span> <img class="prod-sel-nb-main-star-chart-stars" src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}"  alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            Snow <img class="prod-sel-nb-main-star-chart-stars-ext" src = "{{ ' 3Star_individualproductpage.svg ' | asset_url }}"  alt="3 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            Durability <img class="prod-sel-nb-main-star-chart-stars" src = "{{ ' 4Star_individualproductpage.svg ' | asset_url }}"  alt="4 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            <span class="prod-sel-nb-main-star-chart-item">UV Rays</span> <img class="prod-sel-nb-main-star-chart-stars" src = "{{ ' 4Star_individualproductpage.svg ' | asset_url }}"  alt="4 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-subcontainer-last">
                        Warranty <span class="prod-sel-nb-main-star-chart-warranty">5 Years</span>
                    </div>
                    <span class="prod-sel-more-details-link" ><a href="#">More Details</a></span>
                </span>
            </span>
            <span class="prod-sel-nb-main-media-container-deluxe">
                <span class="prod-sel-nb-main-media-subcontainer">
                    <span class="prod-sel-image-container-deluxe">
                    <img src = "{{ ' nonabrasivelining_individualproductpage.png ' | asset_url }}" alt="Interior Fleece Lining">
                    <span class="prod-sel-more-details-link-mobile-only" ><a href="#">More Details</a></span>
                </span>
                </span>
            </span>
            <hr class="prod-sel-nb-main-hr">
            <span class="prod-sel-nb-main-price-container">
            <span class="prod-sel-mobile-container">
            <span class="prod-sel-mobile-price-container">
                <h2 class="prod-sel-nb-main-price-head"><span></span>
                  {% assign product = all_products['Abarth-1000-1962'] %}
                  {% if product == blank %}
                      <span class="prod-sel-nb-main-price">No product found</span>
                  {% else %}
                      <span class="prod-sel-nb-main-price">{{ product.price | money }}</span>
                  {% endif %}  
                </h2>
                <span class="prod-sel-nb-main-reg-price-head">Regular Price <span>
                  {% assign product = all_products['Abarth-1000-1962'] %}
                  {% if product == blank %}
                      <span class="prod-sel-nb-main-reg-price">No product found</span>
                  {% else %}
                      <span class="prod-sel-nb-main-reg-price">{{ product.compare_at_price | money }}</span>
                  {% endif %}
                </span>
                  </span>
               </span>
                <img class="prod-sel-nb-main-cart-btn" src = "{{ ' addo-to-cart-button_individualproductpage.png ' | asset_url }}" alt="add to cart">
            </span>       
                <!-- <button style="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ ' _individualproductpage. ' | asset_url }} ./cart-icon.svg" alt="cart"> Add To Cart</button> -->
                <span class="prod-sel-nb-main-guarantee-container">
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Guaranteed</span>&nbsp; Fit</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> 30 Day Returns</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Free</span>&nbsp;  Shipping</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">In</span>&nbsp;  Stock</span>
                    <span class="prod-sel-nb-main-guarantee-check-last"><img class="prod-sel-nb-main-guarantee-check" src = "{{ ' greenCheck_individualproductpage.svg ' | asset_url }}" alt="check mark"> Ships <span class="prod-sel-nb-main-guarantee-stand">Next</span> Business Day</span>
                </span>
            </span>
        </span>
    </span>
</div>


<!-- Basic -->
<div class="prod-sel-nb-container">
    <span class="prod-sel-nb-subcontainer">
        <h3 class="prod-sel-nb-header">Basic Shield Car Cover</h3>
        <hr class="prod-sel-nb-hr">
        <span class="prod-sel-nb-star">
            <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' |  asset_url }}" alt="5 Stars"></span> <span title='review length' class="prod-sel-nb-review-len"></span> <span class="prod-sel-nb-review">26909 Verified Reviews | Platinum Shield Car Cover</span>
        </span>
        <span class="prod-sel-nb-body-container">
            <span class="prod-sel-nb-body-image-container">
                <img class="prod-sel-nb-body-image" src = "{{ '  CarBasic_individualproductpage.png ' |  asset_url }}" alt="Basic Shield Car Cover">
                <h6 class="prod-sel-nb-body-image-desc">Indoor / Light Outdoor</h6>
            </span>
            <span class="prod-sel-nb-main-container">
                <p class="prod-sel-nb-main-text">
                    Basic Shield Car Covers are great for indoor use. They provide needed protection against dirt and dust! This is for basic protection at a great price.</span>
                    <span class="prod-sel-nb-main-comparison">&nbsp;</span>
                </p>
                <span class="prod-sel-nb-main-star-chart">
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            <span class="prod-sel-nb-main-star-chart-item">Water</span> <img class="prod-sel-nb-main-star-chart-stars" src = "{{ '  2Star_individualproductpage.svg' | asset_url }}" alt="2 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            <span class="prod-sel-nb-main-star-chart-item">Cover Fit</span> <img class="prod-sel-nb-main-star-chart-stars" src = "{{ '  5Star_individualproductpage.svg ' |  asset_url }}" alt="5 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            Snow <img class="prod-sel-nb-main-star-chart-stars-ext" src = "{{ '  2Star_individualproductpage.svg ' |  asset_url }}" alt="2 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            Durability <img class="prod-sel-nb-main-star-chart-stars" src = "{{ '  3Star_individualproductpage.svg ' |  asset_url }}"  alt="3 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-container">
                        <span class="prod-sel-nb-main-star-chart-subcontainer">
                            <span class="prod-sel-nb-main-star-chart-item">UV Rays</span> <img class="prod-sel-nb-main-star-chart-stars" src = "{{ '  3Star_individualproductpage.svg ' |  asset_url }}" alt="3 stars">
                        </span>
                    </div>
                    <div class="prod-sel-nb-main-star-chart-subcontainer-last">
                        Warranty <span class="prod-sel-nb-main-star-chart-warranty">3 Years</span>
                    </div>
                    <span class="prod-sel-more-details-link" ><a href="#">More Details</a></span>       
                </span>
            </span>
            <span class="prod-sel-image-container">
                <img src = "{{ '  ultrasoftmaterial_individualproductpage.png ' |  asset_url }}" alt="Interior Fleece Lining">
                <span class="prod-sel-more-details-link-mobile-only" ><a href="#">More Details</a></span>
            </span>
            <hr class="prod-sel-nb-main-hr">
            
            <span class="prod-sel-nb-main-guarantee-container-basic">
                <span class="prod-sel-mobile-container">
                <span class="prod-sel-mobile-price-container">
                <h2 class="prod-sel-nb-main-price-head"><span></span>
                  {% assign product = all_products['Abarth-1000-1962'] %}
                  {% if product == blank %}
                      <span class="prod-sel-nb-main-price">No product found</span>
                  {% else %}
                      <span class="prod-sel-nb-main-price">{{ product.price | money }}</span>
                  {% endif %}    
                </h2>
                <span class="prod-sel-nb-main-reg-price-head">Regular Price <span>
                  {% assign product = all_products['Abarth-1000-1962'] %}
                  {% if product == blank %}
                      <span class="prod-sel-nb-main-reg-price">No product found</span>
                  {% else %}
                      <span class="prod-sel-nb-main-reg-price">{{ product.compare_at_price | money }}</span>
                  {% endif %}
                </span>
                  </span>
            </span>
                <img class="prod-sel-nb-main-cart-btn" src = "{{ '  addo-to-cart-button_individualproductpage.png ' |  asset_url }}" alt="add to cart">
            </span>
                <!-- <button style="background-color: #ff9933; border: 1px solid lightgray; border-radius: 4px; color: white; padding: 12px 15px;"><img src = {{ '  _individualproductpage.png ' |  asset_url }} /cart-icon.svg" alt="cart"> Add To Cart</button> -->
                <span class="prod-sel-nb-main-guarantee-container">
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ '  greenCheck_individualproductpage.svg ' |  asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Guaranteed</span>&nbsp;Fit</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ '  greenCheck_individualproductpage.svg ' |  asset_url }}" alt="check mark"> 30 Day Returns</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ '  greenCheck_individualproductpage.svg ' |  asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">Free</span>&nbsp;Shipping</span>
                    <span class="prod-sel-nb-main-guarantee-container-item"><img class="prod-sel-nb-main-guarantee-check" src = "{{ '  greenCheck_individualproductpage.svg ' |  asset_url }}" alt="check mark"> <span class="prod-sel-nb-main-guarantee-stand">In</span>&nbsp;Stock</span>
                    <span class="prod-sel-nb-main-guarantee-check-last"><img class="prod-sel-nb-main-guarantee-check" src = "{{ '  greenCheck_individualproductpage.svg ' |  asset_url }}" alt="check mark"> Ships <span class="prod-sel-nb-main-guarantee-stand">Next</span> Business Day</span>
                </span>
            </span>
        </span>
        </span>
<span style="display: flex; justify-content: center;" ><img class ="prod-sel-overall-rating" src = "{{ 'overall-rating.png' | asset_url }}"></span>
<hr class="prod-sel-ratings-hr">
<span class="prod-sel-reviews">
     <span class="prod-sel-body-stars">
       <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 Stars"></span>  	   
       <span class="prod-sel-verified-buyer"><img src="{{ 'user-icon-prod-sel.jpg' | asset_url }}"<small>&nbsp; Verified Buyer</small></span></span>       
       <small>November 1, 2021 by Thomas M. (KS, United States)</small>
       <p>"2nd cover I have purchased, will be purchasing one more soon."
       
       <hr class="prod-sel-ratings-hr">
      
       <span class="prod-sel-body-stars">
       <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 Stars"></span>  	   
       <span class="prod-sel-verified-buyer"><img src="{{ 'user-icon-prod-sel.jpg' | asset_url }}"<small>&nbsp; Verified Buyer</small></span></span>       
	   <small>October 31, 2021 by Rick T. (KS, United States)</small>
       <p>"Second time ordering covers, great covers for my cars!! Hope it's the same for the camper!"
      
       <hr class="prod-sel-ratings-hr">
       
       <span class="prod-sel-body-stars">
       <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 Stars"></span>  	   
       <span class="prod-sel-verified-buyer"><img src="{{ 'user-icon-prod-sel.jpg' | asset_url }}"<small>&nbsp; Verified Buyer</small></span></span>       
       <small>October 29, 2021 by Marqwell C. (MS, United States)</small>
       <p>"Had a cover before with them and it was awesome. I've decided again with Car Covers."
       
       <hr class="prod-sel-ratings-hr">
       
          <span class="prod-sel-body-stars">
       <span title='5 star svg'><img src = "{{ ' 5Star_individualproductpage.svg ' | asset_url }}" alt="5 Stars"></span>  	   
       <span class="prod-sel-verified-buyer"><img src="{{ 'user-icon-prod-sel.jpg' | asset_url }}"<small>&nbsp; Verified Buyer</small></span></span>         
       <small>October 29, 2021 by David P. (TX, United States)</small>
       <p>"Great service, great products"

       <hr class="prod-sel-ratings-hr">

  </span>
<div class="prod-sel-page-sel"> 
<div class="prod-sel-nav-pagination">
  <a href="#">1</a>
  <a class="prod-sel-nav-pagination-active" href="#">2</a>
  <a href="#">3</a>
  <a href="#" style="color: blue">&raquo;</a>
  <span class="prod-sel-nav-pagination-dropdown"><p>Display Options<p>
    <form style="margin-left: 2px;">
    <select name="display-options" id="display-options" style="outline:0px;outline-offset:0;box-shadow:none;">
    <option value="" selected="selected">Featured Reviews</option>
    <option value="">Top Reviews</option>
    <option value="">Most Recent</option>
    </select>
    </form>
  </span>	
</div>  
    </div>
<script>
  
  
</script>