{{ 'section-product-selector-page.css' | asset_url | stylesheet_tag }} {{ 'individual-product-template-page-data.js' | asset_url | script_tag }}

{% render 'breadcrumbs' %} 
<div id ="margin-container" style="width: 100vw">
<div id="car-subpage-container">
<div id="car-subpage-container-section"> 
 <div class="product-selector-subpage-container">
   <div class="ipp-container">
   <div class="product-selector-area">
   <div class="product-selector-subpage-container-left">
     <h2 class="product-selector-subpage-title"></h2>
          <h2 class="product-selector-subpage-subtitle">Act Now: Up to 50% and 100% Free Shipping</h2>
     <hr style="margin-top: 0; margin-bottom: 50px; color: black;">
    
<!-- Code from car-covers.liquid -->
     <div class="product-select">
    <div>
      <form method="POST" id="carform">

        <div class="vehicle-select grid-four">
          <input id="hiden_input" type="hidden" id="type" name="type" value="Car">
          <div>
            <img src="{{ 'start-here.png' | asset_url}}">
            <select id="year" name="year" class="desktop-only">
              <option selected disabled>Select your vehicle year...</option>
            </select>
            <a href="#" class="opop mobile-only">
              <select style="pointer-events:none;">
                <option selected>Select your vehicle type...</option>
                <option value="Car">Car Covers</option>
                <option value="Van">Van Covers</option>
                <option value="Truck">Truck Covers</option>
                <option value="SUV">SUV Covers</option>
              </select>  
            </a>
          </div>

          <select id="make" name="make" class="desktop-only" style="display: true;">
            <option selected id="make-year" disabled>Select your vehicle make...</option>
          </select>

          <select id="model" name="model" class="desktop-only" disabled style="display:none;">
            <option selected disabled>Select your model...</option>
          </select>
          
          <select id="body" name="body" class="desktop-only" disabled style="display:none;">
            <option selected disabled>Select your body type...</option>
            <option>All body types</option>
          </select>
        </div>

        <a id="link" href="#" class="submit-btn">View All Available Covers</a>
      </form>
    </div>
 <!-- End of code from car-covers.liquid -->
    
    
    
<!--       <div id="subpage-product-selector">
        <div class="subpage-product-selector-dropdown">
        <p class="product-selector-label">Vehicle Year:</p>
        <select id="year" name="year">
            <option selected>Select your vehicle year...</option>
          </select>
        </div>
              <div class="subpage-product-selector-dropdown">
  		 <p class="product-selector-label">Vehicle Make:</p>
          <select id="make" name="make">
            <option selected id="make-year">Select your vehicle make...</option>
          </select>
        </div> <div class="subpage-product-selector-dropdown">
  		 <p class="product-selector-label">Vehicle Model:</p>
  	        <select id="model" name="model">
            <option selected>Select your model...</option>
          </select>
        </div> <div class="subpage-product-selector-dropdown">
         <p class="product-selector-label">Vehicle Body:</p>
          <select id="body" name="body">
            <option selected>Select your body type...</option>
          </select>
     </div> -->
     
    <p style="text-align: center">TEST TEST TEST Can't Find Your Vehicle?<a href="#" style="text-decoration: none; color: black;">Click Here</a></p>
     </div>
     <div class="product-selector-left-grey-box">
       <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
       <ul>
       <li>Free Shipping</li>
       <li>In Stock</li>
       <li>Ships Next Business Day</li>
       </ul>
       <ul>
       <li>Guaranteed Fit</li>
       <li>Lifetime Warranty</li>
       <li>Hassle Free Guarantee</li>
       </ul>
       </div></div>
     </div>
     
   <div style="height: 100%" class="product-selector-subpage-container-right">
    
      </div>
  
   </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 25px 0px 10px 0px;
        "
           ></div></div></div></div></div></div>


<h1>Waterproof Covers</h1>
<div class="ipp-iframe-container">
    <iframe
        src="https://www.youtube.com/embed/H0CNOFULuV8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="ipp-iframe"
    ></iframe>
</div>
<section style="text-align: left; background-color: black;">
  <p></p>
    <h2 style="color: white;">Waterproof VS Weatherproof - what's the difference?</h2>
    <p style="color: white;">
        A car cover can never be 100% "waterproof". Even if a cover has the ability to keep water from coming through the cover, condensation can still get through the cover through a process called osmosis. There are also car covers that
        are "breathable". Breathable covers allow moisture to pass through the cover but also air, and the transference of air through the cover allows the moisture that is on your vehicle to dry faster than a non-breathable cover.
        Non-breathable covers will trap moisture on your paint finish, which can damage your paint, and in worst case scenarios: RUST.
    </p>
</section>
<section class="photo-with-info" style="background-color: rgb(194, 192, 192);">
    <img src="{{ 'Hero1.jpg' | asset_url}}" class="item1 hero_img" />
    <div class="item2 hero_text" style="margin: auto; width: 85%; height: 85%; max-height: 600px;">
        <h4>THE PLATINUM SHIELD COVER IS THE BEST SOLUTION FOR MAXIMUM WEATHER PROTECTION.</h4>
        <ul>
            <li>The reflective polyester cover material with polyurethane coating sheds water as soon as it hits the cover.</li>
            <li>UV-reflective-silver material protects your vehicle from sun damage and keeps your vehicle cooler.</li>
            <li>Perfect tor hot and sunny climates</li>
            <li>Reduces heat based damage.</li>
        </ul>
    </div>
</section>
<section class="photo-with-info" style="background-color: rgb(189, 2, 2); color: white;">
    <img src="{{ 'Hero2.jpeg' | asset_url}}" class="item2 hero_img" style="max-height: 350px;" />
    <div class="item1 hero_text" style="margin: auto; width: 85%; height: 85%;">
        <h4 style="color: white;">LIGHTWEIGHT YET DURABLE, THE PLATINUM SHIELD OFFERS OUR HIGHEST LEVEL PROTECTION FROM ALL ELEMENTS.</h4>
        <ul>
            <li>Provides great protection against bird droppings.</li>
            <li>Protects your vehicle's sensitive clear coat finish from the damaging effects. of acid rain.</li>
            <li>This multi-layered car cover guards your vehicle from tree sap, dust, dirt, and other harmful pollutants</li>
            <li>Durable synthetic fabric naturally resists mold, rot, and mildew.</li>
        </ul>
    </div>
</section>
<section class="photo-with-info" style="background-color: rgb(255, 255, 255);">
    <img src="{{ 'Hero3.jpg' | asset_url}}" class="item1 hero_img" style="max-height: 350px;" />
    <div class="item2 hero_text" style="margin: auto; width: 85%; height: 85%;">
        <h4>THE BREATHABLE CHARACTERISTIC OF THIS MATERIAL NATURALLY PREVENTS MOLD, MILDEW, AND RUST.</h4>
        <ul>
            <li>Double stitched seams provide leak protection and fantastic durability.</li>
            <li>An elastic front and rear hem ensures a snug fit.</li>
            <li>Reinforced grommets built into the cover on the left and right side can be used to secure your cover from theft.</li>
            <li>Limited Lifetime Warranty</li>
            <li>Use the provided cable and lock for added protection from theft.</li>
        </ul>
    </div>
</section>
<hr />
<h3>Why Buy From Us</h3>
<div class="ipp-iframe-container">
    <iframe
        src="https://www.youtube.com/embed/396kaI3z3B8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="ipp-iframe"
    ></iframe>
</div>
<h3>Hassle Free Gurantee</h3>
{% section 'comforts' %}
<section>
    <h3>Free Shipping to United States & Canada</h3>
    <p>
        This cover qualifies for free shipping! Simply add the cover of your choice to your cart and you will automatically get free shipping with UPS Ground when you are in the contiguous U.S. and Canada! Orders to PO Box addresses.
        APO/FPO. Alaska, Hawaii, and Puerto Rico are fulfilled with USPS Parcel Post. After your order is processed, you will receive an email with confirmation of your purchase and address. Orders are generally shipped within 1 business
        day after the order is placed. Once it has shipped, you will be emailed the tracking number.
    </p>
    <p>It generally takes 2 to 7 days after your order is processed to receive your cover via UPS Ground. Orders sent via USPS Parcel Post generally take 1-3 weeks on average.</p>
    <p>
        <strong>Expedited Shipping:</strong>
        <br />
        We offer upgraded shipping including three day. second day, and overnight. To see the cost of expedited shipping, please enter your address at checkout.
    </p>
    <p>
        <strong>Canadian Orders:</strong>
        <br />
        We gladly ship orders to Canada via FREE UPS shipping which takes up to 5-7 business days for delivery, however, please be aware there may be duties and customs fees collected by UPS at the time of delivery according to province.
    </p>
    <p>
        <strong>International Orders (outside the US and Canada):</strong>
        <br />
        Yes. we do ship internationally! For international orders, the customer must pay the shipping cost which will be shown on the checkout page. You may be subject to taxes and import charges upon delivery depending on your location.
        Shipping time takes approximately 1-3 weeks. If you do not see your country listed on the drop-down list on the checkout page, please contact us via our contact form.
    </p>
    <p>
        <strong>FREE Return Shipping:</strong>
        <br />
        Per our sizing guarantee. we guarantee that the cover you receive will fit your vehicle. If the incorrect cover is sent, we will pay the return shipping costs. Just another part of our commitment to a hassle free shopping
        experience. Check out our full return policy here.
    </p>
    <hr />
    <h3>Cleaning Instructions</h3>
    <p>
        <strong>How should I wash my car cover?</strong>
        <br />
        Your car cover is easy to wash. For a light hand wash, place the cover on your vehicle and spray the cover with a water hose. Dilute a mild detergent like VVoolite in cold or warm water and lightly cleanse your cover with a sponge.
        If you wish to clean the inside of the cover you can place it on your vehicle inside out.
    </p>
    <p>You may also put your cover in a front load washing machine on a delicate cycle with a diluted detergent. <strong>DO NOT MACHINE DRY.</strong></p>
    <p>
        <strong>How should I dry my car cover?</strong>
        <br />
        We recommend you air dry your cover. <strong>DO NOT USE HEAT</strong> or Machine Dryer as that setting will shrink the cover.
    </p>
    <hr />
    <h3>Return Policy</h3>
    <p>Customer service is important to us, which is why we offer a terrific return policy. We will accept return and exchange requests as long as they are made within 30 days of the date you receive your original purchase.</p>
    <p>
        <strong>Free Return Shipping:</strong>
        <br />
        We pay for return shipping costs so long as you meet our sizing guarantee guidelines or we send the incorrect item Full Return Policy: You can check out all the details on our Return Policy here.
    </p>
    <p>Basically, we aim to make shopping for your cover hassle free.</p>
    <hr />
    <h3>How Do I Order</h3>
    <p>You can place your order online by clicking the Add to cart button or you can call our toll free number: 1-800-385-3603. Our phone lines are only open for orders Monday through Friday but you can order online 24 hours per day.</p>
    <hr />
    <h3>Warranty</h3>
    <p>This Platinum Shield cover comes with an incredible limited <strong>LIFETIME</strong> warranty from the date of purchase.</p>
    <p>
        <strong>Warranty Information:</strong>
        <br />
        CarCovers.com warrant to the original purchaser that we will correct any defects in material or workmanship by either repair or replacement at our discretion of an open box cover of the same type based on the prorated schedule for
        the material, provided the customer prepays shipping to and from the shipper. This warranty lasts for the expected lifetime, listed above, of the product starting on the purchase date. Claim Warranty: If you believe there is a
        defect with your car cover, please contact us via our contact form immediately and include what is wrong with your cover.
    </p>
    <p>
        <strong>Tips:</strong>
    </p>
    <ul>
        <li>Do NOT cover a wet vehicle</li>
        <li>Do NOT cover a hot tail pipe</li>
        <li>Do NOT cover a vehicle with the windows or sun/moon roof open</li>
        <li>Do NOT cover a convertible vehicle with the top down</li>
    </ul>
    <p>
        <strong>Why you should not cover a vehicle with the windows open or the convertible top down:</strong>
        <br />
        You should not cover a vehicle with the top down or the windows open because when it rains, the cover can collect a pool of water where the roof or window was. The weight of the water pooling can cause leaks in the cover.
    </p>
    <p>
        <strong>Regarding Waterproof:</strong> Our covers have a unique layer of micro-porous film that creates a waterproof barrier but allows trapped moisture to evaporate and for the cover to be breathable. This breathable film is key to
        protect your finish from rust, mold, and other damage caused by trapped moisture. The water resistant multi-layer material provides great water repellence, but some water may seep through over time due to the breathable
        characteristics of the material. No cover can be 100% waterproof without harming your vehicles finish.
    </p>
</section>
<hr />
<h3>Customer Reviews</h3>
<div>
    <h5>User Video Review of the Platinum Shield Car Cover</h5>
    <div class="ipp-iframe-container">
        <iframe
            src="https://www.youtube.com/embed/kxrWAIM4SFw"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="ipp-iframe"
        ></iframe>
    </div>
</div>
<div>
    <h5>Verified Customer Photo Review - Platinum Shield Car Cover</h5>
    <img class="review-image" src="{{ 'customer_review2.png' | asset_url}}" />
    <div id="long-review" class="review-container">
        <h4 class="name">Tom Gougeon</h4>
        <img class="review" src="{{ 'reviews-stars.png' | asset_url }}" />
        <p class="date">January 6</p>
        <p class="type">Verified Purchase</p>
        <div class="message">
            <p style="padding: 0;">
                ""My wife and I are retired and travel a lot, combining driving with flying. We often drive to a destination and then leave the car behind for a few months, flying to visit somewhere else, We've tried several car covers in
                the past, but when we return, they were either ripped or blown halfway off butgusts of wind.
            </p>
            <p>
                We bought two car covers from CarCovers.com, with a discount tor the second, and they seem to be the ticket to our needs. With the front and back tie-downs, they do not blow off; with the generous cut and design, they drop
                down and almost cover the wheels completely; with the strong UV-resistant material, they will take the Arizona sun; and with the neat locking system, they will be on the cars when we return.
            </p>
            <p>CarCovers.com was an easy choice for us to make."</p>
        </div>
    </div>
</div>
<div>
    <h5>Verified Customer Photo Review - Platinum Shield Car Cover</h5>
    <img class="review-image" src="{{ 'customer_review3.png' | asset_url}}" />
    <div class="review-container">
        <h4 class="name">Kelvin Stradford</h4>
        <img class="review" src="{{ 'reviews-stars.png' | asset_url }}" />
        <p class="date">December 23</p>
        <p class="type">Verified Purchase</p>
        <p class="message">
            "I have to say that the experience with your company has been great. I went online and was able to drill down to exactly what I wanted. The turn around in receiving my cover through shipping wasn't bad either (west coast to east
            coast). The fits and is what I wanted. I'll be ordering for a second car shortly"
        </p>
    </div>
    <img class="review-image" src="{{ 'customer_review4.png' | asset_url}}" />
</div>
<div>
    <h5>Verified Customer Photo Review - Platinum Shield Car Cover</h5>
    <img class="review-image" src="{{ 'customer_review5.png' | asset_url}}" />
    <div class="review-container">
        <h4 class="name">Ray N.</h4>
        <img class="review" src="{{ 'reviews-stars.png' | asset_url }}" />
        <p class="date">January 9</p>
        <p class="type">Verified Purchase</p>
        <p class="message">"I am happy with my car cover. I am using it to protect my 2008 BMW 550i which I park for the winter."</p>
    </div>
</div>
<div>
    <h5>Verified Customer Photo Review - Platinum Shield Car Cover</h5>
    <img class="review-image" src="{{ 'customer_review6.png' | asset_url}}" />
    <div class="review-container">
        <h4 class="name">Ronald Allen Fisher II</h4>
        <img class="review" src="{{ 'reviews-stars.png' | asset_url }}" />
        <p class="date">January 11</p>
        <p class="type">Verified Purchase</p>
        <p class="message">"The cover fit extremely well and was easy to install without scratching the paint."</p>
    </div>
</div>
<img id="overall-review" src="{{ 'overall-rating.png' | asset_url }}" />
<style>
    main {
        width: 60vw;
        margin: auto;
    }

    h1 {
        color: white;
        background-color: rgb(46, 42, 42);
        padding: 25px 0px 25px 20px;
        font-weight: 800;
        margin: 0;
    }

    h2 {
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 4px;
        text-align: center;
        padding: 0 10px 0 10px;
    }

    h3 {
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 800;
        color: #c5262c;
        text-transform: uppercase;
        margin-bottom: 4px;
        text-align: left;
        padding: 0 10px 0 10px;
    }

    h5 {
        text-align: center;
        font-weight: 600;
        padding-top: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .review-container {
        background-color: rgb(194, 192, 192);
        margin-top: -10px;
        display: grid;
        position: inherit;
        width: 60vw;
        height: 150px;
        grid-template-areas:
            "name review"
            "date type"
            "message message";
    }

    .name {
        grid-area: name;
        padding: 0;
        margin: 0;
    }

    .review {
        grid-area: review;
        padding: 0;
        margin: 0;
    }

    .date {
        grid-area: date;
        padding: 0;
        margin: 0;
    }

    .type {
        grid-area: type;
        padding: 0;
        margin: 0;
    }

    .message {
        grid-area: message;
        padding: 0;
        margin: 0;
    }

    img {
        margin: auto;
        max-width: 60vw;
    }

    @media only screen and (min-width: 1300px) {
        .photo-with-info {
            display: grid;
            position: inherit;
            width: 60vw;
            height: 350px;
            grid-template-areas: "a b";
        }

        .item1 {
            grid-area: a;
            width: 30vw;
            height: 100%;
        }

        .item2 {
            grid-area: b;
            width: 30vw;
            height: 100%;
        }

        .hero_text {
            width: 95vw;
            padding-top: 30px;
        }

        .review-image {
            width: 60vw;
        }

        #long-review {
            height: 400px;
        }

        #overall-review {
            width: 60vw;
            margin: auto;
        }
    }

    @media only screen and (max-width: 1300px) {
        main {
            width: 95vw;
        }

        .photo-with-info {
            display: grid;
            position: inherit;
            width: 95vw;
            min-height: 700px;
            max-height: 750px;
            grid-template-areas:
                "a"
                "b";
        }

        .review-container {
            width: 95vw;
            height: 250px;
        }

        <!-- Brings consistency to mobile version to have image first followed by sec-->
      	.hero_img {
            grid-area: a;
            width: 95vw;
            height: 300px;
        }

        .hero_text {
            grid-area: b;
            width: 95vw;
            height: 500px;
            padding-top: 0;
        }

        img {
            max-width: 95vw;
        }

        .review-image {
            width: 95vw;
        }

        #long-review {
            height: 600px;
        }
    }
</style>

<!-- Code given by Zach -->
  
<!-- Javascript from car-covers.liquid    -->   
  

 <script>
$(document).ready(function(){
    $('.opop').click(function(){
        $('.pops').fadeIn();
    });
    $('.cls-pop').click(function(){
        $('.pops').fadeOut();
    });
});

/* When someone clicks the popup, reset its values */
$("a.cls-pop").click(function () {
    setTimeout(function () {
		$("#pops-options").html('<div data-value="Car" data-form="#type">Car Covers</div><div data-value="Van" data-form="#type">Van Covers</div><div data-value="Truck" data-form="#type">Truck Covers</div><div data-value="SUV" data-form="#type">SUV Covers</div>');
    }, 1000);
});
  
 
function initializePopupOptions() {
	$("#pops-options > div").click(function (event) {
      var products = promise.then(function (result) {
          document.getElementById("pops-options").innerHTML = '';
          if (event.currentTarget.attributes[1].value == '#type') {
            
            $("#type").value = event.currentTarget.attributes[0].value;
            carTypeChange(result.products, event.currentTarget.attributes[0].value);
          } else if (event.currentTarget.attributes[1].value == '#year') {
            carYearChange(result.products, event.currentTarget.attributes[0].value);
          } else if (event.currentTarget.attributes[1].value == '#make') {
            carMakeChange(result.products, event.currentTarget.attributes[0].value);
          } else if (event.currentTarget.attributes[1].value == '#model') {
            carModelChange(result.products, event.currentTarget.attributes[0].value);
          }
      });
  });
}
initializePopupOptions();
  
// Car type change
  $.ajax({
    url: "https://api.carcovers.com/getCars.php?type=car",
    type: "GET",
    dataType: "json",
    success: function (data) {
      console.log(data);
      carTypeChange(data);
    }
  });
function carTypeChange(years) {    
    years.forEach(function (year) {
        var opt = document.createElement("option");
        opt.value = year;
        opt.innerHTML = year;
        document.getElementById("year").appendChild(opt);
      
      	var opt = document.createElement("div");
      	$(opt).attr("data-value", year);
      	$(opt).attr("data-form", "#year");
      	opt.innerHTML = year;
      	document.getElementById("pops-options").appendChild(opt);
      	initializePopupOptions();
    });
}

// Car year change
$("#year").change(function() {
    var selected = $(this).val();
    $("#make-year").text("Select your " + selected + " make");
    
    removeOptions("make");
    removeOptions("model");
//     removeOptions("body");
  	$("#make").prop("disabled", false);
  	$("#make").attr("style", "display:block;");
    
    $.ajax({
      url: "https://api.carcovers.com/getCars.php?type=" + $("#type").val().toLowerCase() + "&year=" + selected,
      type: "GET",
      dataType: "json",
      success: function (data) {
        console.log(data);
        carYearChange(data);
      }
    });
});
function carYearChange(makes) {
    makes.forEach(function (make) {
        var opt = document.createElement("option");
        opt.value = make;
        opt.innerHTML = make;
        document.getElementById("make").appendChild(opt);
      	
        var opt = document.createElement("div");
        $(opt).attr("data-value", make);
        $(opt).attr("data-form", "#make");
        opt.innerHTML = make;
        document.getElementById("pops-options").appendChild(opt);
        initializePopupOptions();
    });
}

// Car make change
$("#make").change(function() {
    var selected = $(this).val().toLowerCase();
    
    removeOptions("model");
//     removeOptions("body");
  	$("#model").prop("disabled", false);
  	$("#model").attr("style", "display:block;");
    
    $.ajax({
      url: "https://api.carcovers.com/getCars.php?type=" + $("#type").val().toLowerCase() + "&year=" + $("#year").val() + "&make=" + selected,
      type: "GET",
      dataType: "json",
      success: function (data) {
        console.log(data);
        carMakeChange(data);
      }
    });
});
function carMakeChange(models, thisYear, thisMake) {    
    models.forEach(function (model) {
        var opt = document.createElement("option");
        opt.value = model;
        opt.innerHTML = model;
        document.getElementById("model").appendChild(opt);
    });
}

// Car model change
$("#model").change(function() {
    var selected = $(this).val().toLowerCase();
    removeOptions("body");

    $("#body").prop("disabled", false);
  	$("#body").attr("style", "display:block;");
    
	$.ajax({
      url: "https://api.carcovers.com/getBodies.php?type=" + $("#type").val().toLowerCase() + "&year=" + $("#year").val() + "&make=" + $("#make").val().toLowerCase() + "&model=" + selected,
      type: "GET",
      dataType: "json",
      success: function (data) {
        console.log("carmodelchange");
        console.log(data);
        carModelChange(data);
      }
    });
});
function carModelChange(bodies) {  
  if (bodies[0] == 'none') {
    var opt = document.createElement("option");
    $.ajax({
      url: "https://api.carcovers.com/getHandle.php?type=" + $("#type").val().toLowerCase() + "&year=" + $("#year").val() + "&make=" + $("#make").val().toLowerCase() + "&model=" + $("#model").val().toLowerCase(),
      type: "GET",
      dataType: "json",
      success: function (data) {
        opt.value = data[0];
      }
    });
    opt.innerHTML = "All body types";
    document.getElementById("body").appendChild(opt);
  } else {
    bodies.forEach(function (body) {
        var opt = document.createElement("option");
      	opt.value = body['bodyhandle'];
      	opt.innerHTML = body['bodytitle'];  
        document.getElementById("body").appendChild(opt);
    });
  }
}

$("#body").change(function() {
    var selected = $(this).val().toLowerCase();
    
  	let url = window.location.origin + "/products/" + selected;
  	$("#link").attr("href", url);
  	$(".submit-btn").css("background-color", "rgb(25 127 207)");
  	window.location.href = url;
});

function removeOptions(element) {
    var select = document.getElementById(element);

    for (i = select.length - 1; i >= 1; i--) {
      select.remove(i);
    }
}
</script>
 <script>
  
  let vehicle_type = localStorage.getItem("vehicle_type")
  console.log(vehicle_type)

document.getElementsByClassName("product-selector-subpage-title")[0].innerHTML = "<span>View " + vehicle_type + " Covers For Your Vehicle</span>"

document.getElementById("topSellingHeader").innerHTML = "<span>Top Selling " + vehicle_type + " Covers</span>"
document.getElementsByClassName("paragraph-header-vehicle-type")[0].textContent = vehicle_type

//document.getElementById("hidden_input").value = vehicle_type

  console.log(car_type)

  let image_src 

 if(vehicle_type == 'Car'){
	
    image_src = type_car.platinum;
	
} else if(vehicle_type == 'Truck'){

  image_src = type_truck.platinum;
  
} else if(vehicle_type == 'SUV'){
  
  image_src = type_suv.platinum;
  
}  else if(vehicle_type == 'Van'){
  
  image_src = type_van.platinum;
  
}  else if(vehicle_type == 'Motorcycle'){
  
 	image_src = type_motorcycle.platinum;
  
}  else if(vehicle_type == 'Scooter'){
  
  image_src = type_scooter.platinum;
  
}  else if(vehicle_type == 'ATV'){
  
  image_src = type_atv.weatherproof;
  
}  else if(vehicle_type == 'UTV'){
  
  image_src = type_utv.weatherproof;
  
}  else if(vehicle_type == 'Jet Ski'){
  
	image_src = type_jet_ski.weatherproof;
  
}  else if(vehicle_type == 'Snowmobile'){
  
  image_src = type_snowmobile.weatherproof;
  
}  else if(vehicle_type == 'Golf Cart'){
  
  image_src = type_golf_cart.weatherproof;
  
}  else if(vehicle_type == 'RV'){
  
  image_src = type_rv.platinum;
  
}  else if(vehicle_type == 'Limo'){
  
	image_src = type_limo.platinum;
  
}  else if(vehicle_type == 'Hummer'){
  
	image_src = type_hummer.platinum;
}

 document.getElementsByClassName("product-selector-subpage-container-right")[0].innerHTML = "<img src =" + image_src + " alt=\"Platinum " + car_type + " Cover\" style=\"height: 300px;\"/>"

</script>