{{ 'section-individual-product-basic.css' | asset_url | stylesheet_tag }}
{{ 'individual-product-template-page-data.js' | asset_url | script_tag }}
    <div class="ipp-container">
      <div class="mock-header"></div>
       {% render 'breadcrumbs' %} 
      <div class="individual-product-pagetitle">
        <span class="main-header platinum-shield-cover-header" style="margin-left: 10px;">Platinum Shield <span id="ptitle"></span> Cover</span>
      </div>
      <div id="ipp-row">
      <div class="ipp-row">
        <div class="ipp-column">
          <div class="individual-product-main-image-conatiner">
            <span id='pmain-image'></span>
          </div>
          <div class="ipp-grid ipp-sub-image-container">
            <span id='psub-image'></span>
            <img class="individual-product-sub-image" src="{{ 'car-cover-closeup_productselectorpage.png' | asset_url }}" />
            <img class="individual-product-sub-image" src="{{ 'Platinum-Img3.png' | asset_url }}" />
            <img class="individual-product-sub-image" src="{{ 'Platinum-Img4.png' | asset_url }}" />
          </div>
        </div>

        <div class="individual-product-details-container">
          <div class="ipp-column">
            <div class="individual-product-title platinum-shield-cover-title">Platinum Shield <span id="pheader"></span> Cover</div>
            <div
              style="
                height: 0.25px;
                background-color: rgba(128, 128, 128, 0.211);
                margin-right: 25px;
              "
            ></div>
            <div class="ipp-row">
              <span class="ipp-stars">★★★★★</span>
              <div class="individual-product-reviews-link">
                <strong>26909</strong> Verified Reviews | <span class="ptiertype">Platinum Shield</span> <span id="preview"></span> Cover
              </div>
            </div>
            <p class="ipp-review-text-top">"I received my cover in record time, it fit like a glove, and the cover is high quality. I will definitely order this from Carcovers.com again!"<br>-Howard B.</p>
          </div>
          <div class="ipp-row">
            <div class="ipp-column">
              <div class="individual-product-price">
                  <h1 class="individual-product-price" id="pnew">$</h1>
              </div>
              <div class="ipp-row individual-product-old-price">
                Regular Price:
                <div>
                      &nbsp;<span id="pold" style="text-decoration: line-through; color: red">$</span>
                </div>
              </div>
              <div class="ipp-add-to-cart-button ipp-row">
                <a class="cart-direct" href="">
                  <img class="ipp-add-to-cart-btn-img" src = "{{ ' addo-to-cart-button_individualproductpage.png ' | asset_url }}" />
                </a>
<!--                 <div class="ipp-add-to-cart-button-text">Add to Cart</div> -->
              </div>
              <div id="ipp-hide-on-mobile">
              <div class="ipp-row ipp-guarantee-top-section">
                <span class="ipp-checkmark">✓</span>
                <div class="ipp-guarantees ipp-red">Guaranteed</div>
                <div class="ipp-guarantees">Fit</div>
              </div>
              <div class="ipp-row">
                <span class="ipp-checkmark">✓</span>
                <div class="ipp-guarantees">30 Day Returns</div>
              </div>
              <div class="ipp-row">
                <span class="ipp-checkmark">✓</span>
                <div class="ipp-guarantees ipp-red">Free</div>
                <div class="ipp-guarantees">Shipping</div>
              </div>
              <div class="ipp-row">
                <span class="ipp-checkmark">✓</span>
                <div class="ipp-guarantees ipp-red">In</div>
                <div class="ipp-guarantees">Stock</div>
              </div>
              <div class="ipp-row">
                <span class="ipp-checkmark">✓</span>
                <div class="ipp-guarantees">Ships</div>
                <div class="ipp-guarantees ipp-red">Next</div>
                <div class="ipp-guarantees">Business Day</div>
              </div>
            </div>
          </div>
              <!-- Mobile View Only -->
              <div class="ipp-mobile-only">
                <div>
                <p><span style="color:green;">✓</span><span style="color:red;">Guaranteed </span>Fit</p>
                </div>             
                <div>
                <p><span style="color:green;">✓</span>30 Day Returns</p>
                </div>
                <div>
                <p><span style="color:green;">✓</span><span style="color:red;">Free </span>Shipping</p>
                </div>
                <div>
                <p><span style="color:green;">✓</span><span style="color:red;">In </span>Stock</p>
                </div>
                <div>
                <p><span style="color:green;">✓</span> Ships <span style="color:red;"> Next </span>Business Day</p>
                </div>
              </div> 

            <div class="ipp-column ipp-description-container">
              <div class="individual-product-description ptextmain">
                Platinum Shield <span id="pdescription"></span> Covers are great outdoor covers. 
                They offer amazing protection against rain and the elements. 
                Perfect for high moisture areas.
              </div>
              <div class="ipp-row ipp-ratings-row">
                <div class="ipp-column">
                  <div class="ipp-row">
                    <div class="individual-product-rating">Water</div>
                    <span class="small-ipp-stars">★★★★★&plus;</span>
                  </div>
                  <div class="ipp-row">
                    <div class="individual-product-rating">Snow</div>
                    <span class="small-ipp-stars">★★★★★+</span>
                  </div>
                  <div class="ipp-row">
                    <div class="individual-product-rating">UV Rays</div>
                    <span class="small-ipp-stars">★★★★★+</span>
                  </div>
                </div>
                <div class="ipp-column">
                  <div class="ipp-row">
                    <div class="individual-product-rating">Cover Fit</div>
                    <span class="small-ipp-stars">★★★★★+</span>
                  </div>
                  <div class="ipp-row">
                    <div class="individual-product-rating">Durability</div>
                    <span class="small-ipp-stars">★★★★★+</span>
                  </div>
                  <div class="ipp-row">
                    <div class="individual-product-rating">Warranty</div>
                    <div class="ipp-warranty-red">Lifetime Warranty</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
	<img class="pbonus" src= "{{ 'FreeCarCoverCareKit_Platinum_individualproductpage.png' | asset_url }}">
      
      <div class="individual-product-icons-container">
        <div class="individual-product-icons-title">Platinum Shield Cover</div>
        <div style="display: flex;">
          <div>
            <img src= "{{ 'Rain.png' | asset_url }}" class="individual-product-icon">
            <div class="individual-product-icons-text">Rain</div>
          </div>
          <div>
            <img src= "{{ 'sun_productselectorpage.png' | asset_url }}" class="individual-product-icon">
            <div class="individual-product-icons-text">Sun</div>
          </div>
          <div>
            <img src= "{{ 'tree_productselectorpage.png' | asset_url }}" class="individual-product-icon">
            <div class="individual-product-icons-text">Debris</div>
          </div>
          <div>
            <img src= "{{ 'Snow.png' | asset_url }}" class="individual-product-icon">
            <div class="individual-product-icons-text">Snow</div>
          </div>
          <div>
            <img src= "{{ 'bird_productselectorpage.png' | asset_url }}" class="individual-product-icon">
            <div class="individual-product-icons-text">Animals</div>
          </div>
          <div>
            <img src= "{{ 'lock_productselectorpage.png' | asset_url }}" class="individual-product-icon">
            <div class="individual-product-icons-text">Security</div>
          </div>
        </div>
      </div>
      <div class="ipp-text-paragraph">
        The Platinum Shield cover is safe to use in all types of weather conditions. 
        It is a highly water resistant material and is ideal for anything from sunny 
        to high moisture climates. The Platinum Shield has a special multi-layer polypropylene, 
        which is an oil based material, with a layer of micro-porous film sandwiched 
        between it to ensure breathability. On the inside of the cover, there is a non 
        abrasive interior.
        <ul class="ipp-ul">
          <li>Protects your vehicle from harsh elements like rain, snow, tree sap, bird droppings, and other dirt.</li>
 		  <li>Preventing water penetration through the seams is achieved through ultrasonic welding.</li>
 		  <li>The cover is completely breathable due to the micro-porous film.</li>
 		  <li>Chemically treated for UV stability</li>
 		  <li>The fabric naturally resists rot and mildew.</li>
 		  <li>The hem is elasticized in the front and rear of the cover for an extra snug fit.</li>
 		  <li>There are reinforced grommets on both sides of the cover.</li>
 		  <li>5 Year limited warranty</li>
 		  <li>Approximate weight: 7lbs</li>
 		  <li>Color: Grey</li>
        </ul>
      </div>
      <div class="ipp-iframe-container">
        <iframe
          src="https://www.youtube.com/embed/H0CNOFULuV8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="ipp-iframe"
        ></iframe>
      </div>
      <div class="ipp-text-paragraph">
        <div class="ipp-text-heading">
          Why are there no side mirror pockets?
        </div>
        <div class="ipp-text">
          Our car covers will accommodate your mirrors without pocketing them.
          We've engineered them out of the design because mirror pockets are
          unnecessary and are usually the first part of a car cover to
          deteriorate or rip. This ensures that you will get maximum durability
          from your car cover!
        </div>
        <div class="ipp-text-heading">What about my antenna?</div>
        <div class="ipp-text">
          The cover does not come with holes in it for your antenna by default
          because most customers prefer to not have any holes. If your antenna
          cannot be removed or retracted when using the cover, we include a free
          antenna patch kit with each car cover that will create a reinforced
          hole where the antenna can easily slip through.
        </div>
        <div class="ipp-text-heading">Will this fit my vehicle?</div>
        <div class="ipp-text">
          Yes! This cover is sized for your vehicle by the dimensions: length,
          width, and height (called semi-custom). Combine the perfect size with
          the elastic front and rear hems and you are getting a cover that is
          going to fit your vehicle extremely well. We're so confident that
          you'll love how our cover fits your vehicle that we will pay return
          shipping if you receive an incorrect cover! If you require a 100% made
          to order cover, we can do those as well but they are more expensive.
          Please give us a call if you would like more information.
        </div>
        <div class="ipp-text-heading">
          I have modifications to my vehicle, what cover should I order?
        </div>
        <div class="ipp-text">
          Our checkout page has a comment section. Simply order the cover for
          your vehicle and make as many detailed notes as possible about your
          vehicle modification. For example if you have a large spoiler, mention
          you have a 6" spoiler. This will allow our warehouse team to grab the
          correct cover.
        </div>
        <div class="ipp-text">
          There are double stitched seams and the hem is elasticized in the
          front and rear of the cover to ensure an extra snug fit. This cover
          comes with a FREE <strong>storage bag</strong> and an INCREDIBLE 3
          YEAR LIMITED WARRANTY!
        </div>
      </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
        "
      ></div>
      <div>
        <hr class="ipp-container-hr">
        <div class="ipp-section-title">Product Detail Shots</div>
        <div class="ipp-row ipp-product-detail-row">
          <div class="ipp-product-detail-container">
            <img class="ipp-product-detail-image" src="{{ 'Platinum-Detail1.png' | asset_url }}" />
            <div class="ipp-product-detail-text">Lightweight & Durable</div>
          </div>
          <div class="ipp-product-detail-container">
            <img class="ipp-product-detail-image" src="{{ 'Platinum-Detail2.png' | asset_url }}" />
            <div class="ipp-product-detail-text">Reinforced Grommet</div>
          </div>
          <div class="ipp-product-detail-container">
            <img class="ipp-product-detail-image" src="{{ 'Platinum-Detail3.png' | asset_url }}" />
            <div class="ipp-product-detail-text">Free Storage Bag</div>
          </div>
        </div>
      </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
        "
      ></div>
      
              <hr class="ipp-container-hr">

      <div class="ipp-section-title">Product 360 Degree Video</div>
      <div class="ipp-iframe-container">
        <iframe
          src="https://www.youtube.com/embed/59M9XrAnN6U"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="ipp-iframe"
        ></iframe>
      </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 25px 0px 10px 0px;
        "
      ></div>
              <hr class="ipp-container-hr">

      <div class="ipp-section-title">
        How Does the Platinum Shield Cover Compare to Our Other Covers
      </div>
       {% section 'comparison-chart' %}

<!--       <div style="height: 1000px; background-color: gray"></div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 25px 0px 10px 0px;
        "
      ></div> -->
      
              <hr>

     
      <div class="ipp-section-title">Why Buy From Us?</div>
      <div class="ipp-iframe-container">
        <iframe
          src="https://www.youtube.com/embed/396kaI3z3B8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="ipp-iframe"
        ></iframe>
      </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 25px 0px 10px 0px;
        "
      ></div>
              <hr class="ipp-container-hr">

      <div class="ipp-section-title">Hassle Free Guarantee</div>
       {% section 'comforts' %}
     <hr>
      
      <div style="height: 1000px; background-color: gray"></div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 25px 0px 10px 0px;
        "
      ></div>
      <div class="ipp-section-title" style="padding-bottom: 0px">
        Free Shipping to the United States and Canada
      </div>
      <div class="ipp-text-paragraph">
        <div class="ipp-text">
          This cover qualifies for free shipping! Simply add the cover of your
          choice to your cart and you will automatically get free shipping with
          UPS Ground when you are in the contiguous U.S. and Canada! Orders to
          PO Box addresses, APO/FPO, Alaska, Hawaii, and Puerto Rico are
          fulfilled with USPS Parcel Post. After your order is processed, you
          will receive an email with confirmation of your purchase and address.
          Orders are generally shipped within 1 business day after the order is
          placed. Once it has shipped, you will be emailed the tracking number.
        </div>
        <div class="ipp-text">
          It generally takes 2 to 7 days after your order is processed to
          receive your cover via UPS Ground. Orders sent via USPS Parcel Post
          generally take 1-3 weeks on average.
        </div>
        <div class="ipp-text-heading">Expedited Shipping:</div>
        <div class="ipp-text">
          We offer upgraded shipping including three day, second day, and
          overnight. To see the cost of expedited shipping, please enter your
          address at checkout.
        </div>
        <div class="ipp-text-heading">Canadian Orders:</div>
        <div class="ipp-text">
          We gladly ship orders to Canada via FREE UPS shipping which takes up
          to 5-7 business days for delivery, however, please be aware there may
          be duties and customs fees collected by UPS at the time of delivery
          according to province.
        </div>
        <div class="ipp-text-heading">
          International Orders (outside the US and Canada):
        </div>
        <div class="ipp-text">
          Yes, we do ship internationally! For international orders, the
          customer must pay the shipping cost which will be shown on the
          checkout page. You may be subject to taxes and import charges upon
          delivery depending on your location. Shipping time takes approximately
          1-3 weeks. If you do not see your country listed on the drop-down list
          on the checkout page, please contact us via our contact form.
        </div>
        <div class="ipp-text-heading">FREE Return Shipping:</div>
        <div class="ipp-text">
          Per our sizing guarantee, we guarantee that the cover you receive will
          fit your vehicle. If the incorrect cover is sent, we will pay the
          return shipping costs. Just another part of our commitment to a hassle
          free shopping experience. Check out our full return policy here.
        </div>
      </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 10px 0px 10px 0px;
        "
      ></div>
      
        <hr class="ipp-container-hr">
      <div class="ipp-section-title" style="padding-bottom: 0px">
        Cleaning Instructions
      </div>
      <div class="ipp-text-paragraph">
        <div class="ipp-text-heading">How should I wash my car cover?</div>
        <div class="ipp-text">
          Your car cover is easy to wash. For a light hand wash, place the cover
          on your vehicle and spray the cover with a water hose. Dilute a mild
          detergent like Woolite in cold or warm water and lightly cleanse your
          cover with a sponge. If you wish to clean the inside of the cover you
          can place it on your vehicle inside out.
        </div>
        <div class="ipp-text-heading">How should I dry my car cover?</div>
        <div class="ipp-text">
          We recommend you air dry your cover.
          <strong>DO NOT USE HEAT</strong> or a machine dryer, as that will
          shrink the cover.
        </div>
      </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 10px 0px 10px 0px;
        "
      ></div>
        <hr class="ipp-container-hr">
      <div class="ipp-section-title" style="padding-bottom: 0px">
        Return Policy
      </div>
      <div class="ipp-text-paragraph">
        <div class="ipp-text">
          Customer service is important to us, which is why we offer a terrific
          return policy. We will accept return and exchange requests as long as
          they are made within 30 days of the date you receive your original
          purchase.
        </div>
        <div class="ipp-text-heading">Free Return Shipping:</div>
        <div class="ipp-text">
          We pay for return shipping costs so long as you meet our sizing
          guarantee guidelines or we send the incorrect item
        </div>
        <div class="ipp-text-heading">Full Return Policy:</div>
        <div class="ipp-text">
          You can check out all the details on our Return Policy here.
        </div>
        <div class="ipp-text">
          Basically, we aim to make shopping for your cover hassle free.
        </div>
      </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 10px 0px 10px 0px;
        "
      ></div>
        <hr class="ipp-container-hr">
      <div class="ipp-section-title" style="padding-bottom: 0px">
        How Do I Order?
      </div>
      <div class="ipp-text-paragraph">
        <div class="ipp-text">
          You can place your order online by clicking the Add to cart button or
          you can call our toll free number: 1-800-385-3603. Our phone lines are
          only open for orders Monday through Friday but you can order online 24
          hours per day.
        </div>
      </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 10px 0px 10px 0px;
        "
      ></div>
        <hr class="ipp-container-hr">
      <div class="ipp-section-title" style="padding-bottom: 0px">Warranty</div>
      <div class="ipp-text-paragraph">
        <div class="ipp-text">
          This Platinum Shield cover comes with an incredible 3 year limited
          warranty from the date of purchase.
        </div>
        <div class="ipp-text-heading">Warranty Information:</div>
        <div class="ipp-text">
          Your cover is guaranteed to be free of defects. We warrant to the
          purchaser that we will correct any defects in material or workmanship
          by either repair or replacement (at our discretion) free of charge,
          provided the customer prepays shipping to and from the shipper.
        </div>
        <div class="ipp-text">
          The warranty does not cover normal wear, weather soiling, or stains
          from dirt or pollutants. The cover must be properly utilized and
          maintained from the time of purchase. For more information, please go
          to our warranty page.
        </div>
        <div class="ipp-text-heading">Claim Warranty:</div>
        <div class="ipp-text">
          If you believe there is a defect with your car cover, please contact
          us via our contact form immediately and include what is wrong with
          your cover.
        </div>
        <div class="ipp-text-heading">Tips:</div>
        <ul class="ipp-text">
          <li>Do NOT cover a wet vehicle</li>
          <li>Do NOT cover a hot tail pipe</li>
          <li>Do NOT use cover while making modifications to vehicle</li>
          <li>Do NOT cover a vehicle with the windows or sun/moon roof open</li>
          <li>Do NOT cover a convertible vehicle with the top down</li>
          <li>
            Why you should not cover a vehicle with the windows open or the
            convertible top down:<br />
            You should not cover a vehicle with the top down or the windows open
            because when it rains, the cover can collect a pool of water where
            the roof or window was. The weight of the water pooling can cause
            leaks in the cover.
          </li>
        </ul>
      </div>
      <div
        style="
          height: 0.5px;
          background-color: rgba(128, 128, 128, 0.211);
          width: 100%;
          margin: 10px 0px 10px 0px;
        "
      ></div>
        <hr class="ipp-container-hr">
      <div class="ipp-section-title" style="padding-bottom: 0px">
        Customer Reviews
      </div>
      <div class="ipp-customer-review-container">
        <div class="ipp-customer-review-caption">
          Verified Customer Photo Review - Platinum Shield Car Cover
        </div>
        <img src=" {{ 'car-cover-2_productselectorpage.png' | asset_url }} " class="ipp-customer-review-image" />
        <div class="ipp-column ipp-customer-review">
          <div class="ipp-row" style="justify-content: space-between">
            <div class="ipp-column">
              <div class="ipp-customer-name">Maria J.</div>
              <div class="ipp-review-date">November 26</div>
            </div>
            <div class="ipp-column" style="text-align: end">
              <span class="ipp-customer-review-stars">★★★★★</span>
              <div class="ipp-review-date">Verified Purchase</div>
            </div>
          </div>
          <div class="ipp-text ipp-review-text">
            “It was for his ‘56 Belair. He is very pleased with the car cover
            (and the car). The ordering process was easy, and the cover arrived
            quickly in spite of having to cross the border into Canada. We will
            definitely recommend CarCovers.com to anyone we know looking for a
            great cover and seemless order process.”
          </div>
        </div>
      </div>
      <div class="ipp-customer-review-container">
        <div class="ipp-customer-review-caption">
          Verified Customer Photo Review - Platinum Shield Car Cover
        </div>
        <img src=" {{ 'car-cover-3_productselectorpage.png' | asset_url }} " class="ipp-customer-review-image" />
        <div class="ipp-column ipp-customer-review">
          <div class="ipp-row" style="justify-content: space-between">
            <div class="ipp-column">
              <div class="ipp-customer-name">John Syzmanski</div>
              <div class="ipp-review-date">December 12</div>
            </div>
            <div class="ipp-column" style="text-align: end">
              <span class="ipp-customer-review-stars">★★★★★</span>
              <div class="ipp-review-date">Verified Purchase</div>
            </div>
          </div>
          <div class="ipp-text ipp-review-text">
            “The cover fit good. Not baggy and is easy to take off and put on.
            Bought for my 1970 Monte Carlo, very happy with the look and fit.
          </div>
        </div>
      </div>
      <div class="ipp-customer-review-container">
        <div class="ipp-customer-review-caption">
          Verified Customer Photo Review - Platinum Shield Car Cover
        </div>
        <img src=" {{ 'car-cover-4_productselectorpage.png' | asset_url }} "class="ipp-customer-review-image" />
        <div class="ipp-column ipp-customer-review">
          <div class="ipp-row" style="justify-content: space-between">
            <div class="ipp-column">
              <div class="ipp-customer-name">Alain L.</div>
              <div class="ipp-review-date">November 30</div>
            </div>
            <div class="ipp-column" style="text-align: end">
              <span class="ipp-customer-review-stars">★★★★★</span>
              <div class="ipp-review-date">Verified Purchase</div>
            </div>
          </div>
          <div class="ipp-text ipp-review-text">
            “Very happy with my cover. Fits nice!”
          </div>
        </div>
      </div><span style="margin:auto" ><img src="{{ 'overall-rating.png' | asset_url }}" style="width: 100%;"></span>

 </div>
<script>
  var make_model = window.location.pathname.slice(32);
  var year = make_model.slice(-4);
  var title = document.querySelector('.individual-product-title').innerHTML += ` For ${make_model.replaceAll('-', ' ')}`;
  var header = document.querySelector('.main-header').innerHTML += ` For ${make_model.replaceAll('-', ' ')}`;
  var car_type = document.querySelector('.test').innerHTML += `${localStorage.getItem('vehicle_type')}`;
  
</script>
<script>
  var car_type = localStorage.getItem("vehicle_type");
  
    
  $.ajax({
  url: `https://api.carcovers.com/getCovers.php?type=${car_type}&vendor=basic`,
  type: "GET",
  dataType: "json",
  success: function (data) {
    console.log(data)
    let cartBtn = $('.cart-direct')
    
    if(car_type === "Van"){
    cartBtn[0].href = `https://carcoverscom-dev.myshopify.com/cart/add?id=${data[0].shopifyid}&quantity=1`
    }
    else {
    
    cartBtn[0].href = `https://carcoverscom-dev.myshopify.com/cart/add?id=${data[0].shopifyid}&quantity=1`
    }
  }
});
  
  if(car_type == 'Car'){
  var psale_price = type_car.pprice_new;
  var pold_price = type_car.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
    
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_car.platinum}" alt="Platinum Car Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-sub-image" src="${type_car.platinum}" alt="Platinum Car Cover">`;
} else if(car_type == 'Truck'){
  var psale_price = type_truck.pprice_new;
  var pold_price = type_truck.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_truck.platinum}" alt="Platinum Truck Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-sub-image" src="${type_truck.platinum}" alt="Platinum Truck Cover">`;
} else if(car_type == 'SUV'){
  var psale_price = type_suv.pprice_new;
  var pold_price = type_suv.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_suv.platinum}" alt="Platinum SUV Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-sub-image" src="${type_suv.platinum}" alt="Platinum SUV Cover">`;
}  else if(car_type == 'Van'){
  var psale_price = type_van.pprice_new;
  var pold_price = type_van.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_van.platinum}" alt="Platinum Van Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-sub-image" src="${type_van.platinum}" alt="Platinum Van Cover">`;
}  else if(car_type == 'Motorcycle'){
  var psale_price = type_motorcycle.pprice_new;
  var pold_price = type_motorcycle.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_motorcycle.platinum}" alt="Platinum Motorcycle Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-sub-image" src="${type_motorcycle.platinum}" alt="Platinum Motorcycle Cover">`;
}  else if(car_type == 'Scooter'){
  var psale_price = type_scooter.pprice_new;
  var pold_price = type_scooter.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_scooter.platinum}" alt="Platinum Scooter Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-sub-image" src="${type_scooter.platinum}" alt="Platinum Scooter Cover">`;
}  else if(car_type == 'ATV'){
  var psale_price = type_atv.pprice_new;
  var pold_price = type_atv.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_atv.platinum}" alt="Platinum ATV Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-sub-image" src="${type_atv.platinum}" alt="Platinum ATV Cover">`;
}  else if(car_type == 'UTV'){
  var psale_price = type_utv.pprice_new;
  var pold_price = type_utv.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_utv.platinum}" alt="Platinum UTV Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-sub-image" src="${type_utv.platinum}" alt="Platinum UTV Cover">`;
}  else if(car_type == 'Jet Ski'){
  var psale_price = type_jet_ski.pprice_new;
  var pold_price = type_jet_ski.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_jet_ski.platinum}" alt="Platinum Jet Ski Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_jet_ski.platinum}" alt="Platinum Jet Ski Cover">`;
}  else if(car_type == 'Snowmobile'){
  
  var psale_price = type_snowmobile.wprice_new;
  var pold_price = type_snowmobile.wprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_snowmobile.weatherproof}" alt="Weatherproof Snowmobile Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_snowmobile.weatherproof}" alt="Weatherproof Snowmobile Cover">`;
  
  document.querySelector('.platinum-shield-cover-header').innerHTML = `Weatherproof Shield Snowmobile Cover For ${make_model.replaceAll('-', ' ')}`;
  document.querySelector('.platinum-shield-cover-title').innerHTML = `Weatherproof Shield Snowmobile Cover For ${make_model.replaceAll('-', ' ')}`;
  document.querySelector('.ptiertype').innerHTML = ` Weatherproof Shield `;
  document.querySelector('.ptextmain').style.display = 'none';
  document.querySelector('.pbonus').style.display = 'none';
  document.querySelector('.individual-product-icons-title').innerHTML = 'Weatherproof Shield';
  
}  else if(car_type == 'Golf Cart'){
  var psale_price = type_golf_cart.pprice_new;
  var pold_price = type_golf_cart.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_golf_cart.platinum}" alt="Platinum Golf Cart Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_golf_cart.platinum}" alt="Platinum Golf Cart Cover">`;
}  else if(car_type == 'RV'){
  var rv_type = localStorage.getItem('rv_type');
  
  
  if(rv_type == 'class a rv'){
    var psale_price = type_rv.pca_sale;
    var pold_price = type_rv.pca_old;

    var psale = document.getElementById('pnew').innerHTML += psale_price;
    var pold = document.getElementById('pold').innerHTML += pold_price;
  	document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.class_a}" alt="Platinum RV Cover">`;
  	document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.class_a}" alt="Platinum RV Cover">`;
  } else if(rv_type == 'class b rv'){
    var psale_price = type_rv.pcb_sale;
    var pold_price = type_rv.pcb_old;

    var psale = document.getElementById('pnew').innerHTML += psale_price;
    var pold = document.getElementById('pold').innerHTML += pold_price;
  	document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.class_b}" alt="Platinum RV Cover">`;
  	document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.class_b}" alt="Platinum RV Cover">`;
  }
   else if(rv_type == 'class c rv'){
    var psale_price = type_rv.pcc_sale;
    var pold_price = type_rv.pcc_old;

    var psale = document.getElementById('pnew').innerHTML += psale_price;
    var pold = document.getElementById('pold').innerHTML += pold_price;
  	document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.class_c}" alt="Platinum RV Cover">`;
  	document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.class_c}" alt="Platinum RV Cover">`;
  }
   else if(rv_type == 'fifth wheel trailer'){
    var psale_price = type_rv.pfw_sale;
    var pold_price = type_rv.pfw_old;

    var psale = document.getElementById('pnew').innerHTML += psale_price;
    var pold = document.getElementById('pold').innerHTML += pold_price;
    document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.fifth_wheel_trailer}" alt="Platinum RV Cover">`;
    document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.fifth_wheel_trailer}" alt="Platinum RV Cover">`;
  }
   else if(rv_type == 'folding pop up trailer'){
    var psale_price = type_rv.pfp_sale;
    var pold_price = type_rv.pfp_old;

    var psale = document.getElementById('pnew').innerHTML += psale_price;
    var pold = document.getElementById('pold').innerHTML += pold_price;
    document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.folding_pop_up_trailer}" alt="Platinum RV Cover">`;
    document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.folding_pop_up_trailer}" alt="Platinum RV Cover">`;
  }
   else if(rv_type == 'tear drop trailer'){
    var psale_price = type_rv.ptd_sale;
    var pold_price = type_rv.ptd_old;

    var psale = document.getElementById('pnew').innerHTML += psale_price;
    var pold = document.getElementById('pold').innerHTML += pold_price;
    document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.tear_drop_trailer}" alt="Platinum RV Cover">`;
    document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.tear_drop_trailer}" alt="Platinum RV Cover">`;
  }
   else if(rv_type == 'travel trailer'){
    var psale_price = type_rv.ptt_sale;
    var pold_price = type_rv.ptt_old;

    var psale = document.getElementById('pnew').innerHTML += psale_price;
    var pold = document.getElementById('pold').innerHTML += pold_price;
    document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.travel_trailer}" alt="Platinum RV Cover">`;
    document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.travel_trailer}" alt="Platinum RV Cover">`;
  }
   else if(rv_type == 'truck camper'){
    var psale_price = type_rv.ptc_sale;
    var pold_price = type_rv.ptc_old;

    var psale = document.getElementById('pnew').innerHTML += psale_price;
    var pold = document.getElementById('pold').innerHTML += pold_price;
    document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.truck_camper}" alt="Platinum RV Cover">`;
    document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_rv.platinum.truck_camper}" alt="Platinum RV Cover">`;
  }

}  else if(car_type == 'Limo'){
  var psale_price = type_limo.pprice_new;
  var pold_price = type_limo.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_limo.platinum}" alt="Platinum Limo Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_limo.platinum}" alt="Platinum Limo Cover">`;
}  else if(car_type == 'Hummer'){
  var psale_price = type_hummer.pprice_new;
  var pold_price = type_hummer.pprice_old;
  
  var psale = document.getElementById('pnew').innerHTML += psale_price;
  var pold = document.getElementById('pold').innerHTML += pold_price;
  
  document.getElementById('pmain-image').innerHTML += `<img class="individual-product-main-image" src="${type_hummer.platinum}" alt="Platinum Hummer Cover">`;
  document.getElementById('psub-image').innerHTML += `<img class="individual-product-main-image" src="${type_hummer.platinum}" alt="Platinum Hummer Cover">`;
}
  
</script>
<script>
	document.getElementById('ptitle').innerHTML += car_type;
  	document.getElementById('pheader').innerHTML += car_type;
  	document.getElementById('preview').innerHTML += car_type;
  	document.getElementById('pdescription').innerHTML += car_type;
</script>
